<a href="https://colab.research.google.com/github/jack-cao-623/python_learning/blob/main/dataframes_03_data_extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DataFrames Part 3, Data Extraction
- .iloc[], .loc[]

In [2]:
# libraries needed
import numpy as np
import pandas as pd

In [6]:
# load data
bond = pd.read_csv(
    'https://raw.githubusercontent.com/jack-cao-623/python_learning/main/pandas/jamesbond.csv'
)

bond.head(n = 5)

# one row per bond movie

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [5]:
# non-null counts and data type
bond.info()
  # box office, budget, and actor salary are in millions

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Film               26 non-null     object
 1   Year               26 non-null     int64
 2   Actor              26 non-null     object
 3   Director           26 non-null     object
 4   Box Office         26 non-null     float64
 5   Budget             26 non-null     float64
 6   Bond Actor Salary  18 non-null     float64
dtypes: float64(3), int64(1), object(3)
memory usage: 1.5+ KB

In [10]:
# reproduce non-null counts
(
    bond
      .notnull()
      .sum(axis = 'index')      # count of non null values
      .div(bond.shape[0])       # percent of non null values
)

Film                 1.000000
Year                 1.000000
Actor                1.000000
Director             1.000000
Box Office           1.000000
Budget               1.000000
Bond Actor Salary    0.692308
dtype: float64