<a href="https://colab.research.google.com/github/jack-cao-623/python_learning/blob/main/effective_pandas_ch_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 4: Series Introduction

In [27]:
# libraries needed
import numpy as np
import pandas as pd

In [28]:
# create a dictionary called series; dictionaries are key-value pairs
series = {
    'index':[0, 1, 2, 3],
    'data':[145, 142, 38, 13],
    'name':'songs'
}
print(series)

{'index': [0, 1, 2, 3], 'data': [145, 142, 38, 13], 'name': 'songs'}

In [29]:
# extract different keys from series dictionary
print(series['index'])
print(series['data'])
print(series['name'])

# should get 38
print(series['data'][2])

[0, 1, 2, 3]
[145, 142, 38, 13]
songs
38

In [ ]:
# create a series
songs2 = pd.Series(
    data = [145, 142, 38, 13],
    name = 'counts'
)
print(songs2)

# index defaults to 0, 1, 2, 3...

0    145
1    142
2     38
3     13
Name: counts, dtype: int64

In [ ]:
# name the indices
songs3 = pd.Series(
    data = [145, 142, 38, 13],
    name = 'counts',
    index = ['Paul', 'John', 'George', 'Ringo']
)
print(songs3)

Paul      145
John      142
George     38
Ringo      13
Name: counts, dtype: int64

In [ ]:
# create a series with a NULL, np.nan, not a number
nan_series = pd.Series(
    data = [2, np.nan],
    index = ['Ono', 'Clapton']
)

print(nan_series)

Ono        2.0
Clapton    NaN
dtype: float64

In [ ]:
# count how many values in nan_series; should just get 1
print(nan_series.count())

# size of nan_series; should get 2
print(len(nan_series))
print(nan_series.size)

1
2
2

In [ ]:
# find mean of songs3
print(songs3)

# mean is output of this
print("\n")
print('mean:')
print(songs3.mean())

Paul      145
John      142
George     38
Ringo      13
Name: counts, dtype: int64


mean:
84.5

In [ ]:
# find songs greater than median
print('mean:')
print(songs3.mean())

print('\n')
print('songs greater than the mean:')
print(songs3[songs3 > songs3.mean()])

mean:
84.5


songs greater than the mean:
Paul    145
John    142
Name: counts, dtype: int64

In [ ]:
# part about cateorical data in series; skipped for now