<a href="https://colab.research.google.com/github/jack-cao-623/python_learning/blob/main/pandas_dates_and_times.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Dates and Times
- Python has a built-in date module

In [2]:
# libraries needed
import numpy as np
import pandas as pd
import datetime as dt   

# datetime is not an external library
# it's part of Python; part of standard library; think of as internal libraries
# not imported automatically to preserve memory

# but imported the same way as pandas is to keep things consistent and simple

## Review of Python's datetime module
- internal library Python loads on demand
- not automatically loaded to preserve memory
- module is synonymous with libary
- dt.date() method creates a date object
- dt.datetime() method creates a datetime object, which is date plus time hh:mm:ss

In [3]:
# .datetime() method is part of datetime module/library
# .datetime() method creates a datetime object

# date object: YYYY-MM-DD
# datetime object: YYYY-MM-DD also includes timestamp

In [4]:
# create date object using dt.date() method
new_years_day = dt.date(year = 2023, month = 1, day = 1)
new_years_day

datetime.date(2023, 1, 1)

In [5]:
# attributes on new_years_day
print(new_years_day.year)
print(new_years_day.month)
print(new_years_day.day)

2023
1
1

In [6]:
# create datetime object using dt.datetime() method
maddie_bday = dt.datetime(
    year = 2022, month = 3, day = 3,
    hour = 1, minute = 39
)

maddie_bday

datetime.datetime(2022, 3, 3, 1, 39)

In [7]:
# view in alternative format
str(maddie_bday)

'2022-03-03 01:39:00'

In [8]:
# attributes of maddie_bday
print(maddie_bday.year)
print(maddie_bday.month)
print(maddie_bday.day)

print(maddie_bday.hour)
print(maddie_bday.minute)
print(maddie_bday.second)

2022
3
3
1
39
0

## Pandas timestamp object
- equivalent of Python datetime object
  - pandas Timestamp is better for data analysis; custom 
  built, so do things like add and subtract chunks of time; 
  more efficient
- basically a single moment in time: a date and a time, but called a timestamp
- don't need hour:minute:second part; default to midnight, 00:00:00
- pd.Timestamp() method
  - input is a string, can be flexible in string format
  - but best stick with YYYY-MM-DD format

In [9]:
# January 1, 2023
pd.Timestamp('2023-01-01')

Timestamp('2023-01-01 00:00:00')

In [10]:
# also January 1, 2023
pd.Timestamp('01/01/23')
  # note the midnight default for time component

Timestamp('2023-01-01 00:00:00')

In [11]:
# March 3, 2022 at 1:39am, Maddie's birthday
pd.Timestamp('2022-03-03 01:39:00')

Timestamp('2022-03-03 01:39:00')

In [12]:
# also March 3, 2022 at 1:39am, Maddie's birthday
pd.Timestamp('2022-03-03 1:39am')

Timestamp('2022-03-03 01:39:00')

In [13]:
# feed a Pandas Datetime object
pd.Timestamp(dt.datetime(2023, 1, 1))

Timestamp('2023-01-01 00:00:00')

## pd.DatetimeIndex object
- a collection of pandas Timestamps

In [14]:
# follow along video
list_of_dates = ['2023-01-01', '2023-01-02', '2023-01-03']
pd.DatetimeIndex(list_of_dates)

# convert date column/Series to index --> more relevant use case you'll encounter

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03'], dtype='datetime64[ns]', freq=None)

In [15]:
# using Python date
another_list_of_dates = [dt.date(2023, 1, 1), dt.date(2023, 1, 2), dt.date(2023, 1, 3)]
pd.DatetimeIndex(another_list_of_dates)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03'], dtype='datetime64[ns]', freq=None)

In [16]:
# create a Series where index is datetime
pd.Series(
    data = [1, 2, 3],
    index = pd.DatetimeIndex(list_of_dates)         # list_of_dates defined above
)

2023-01-01    1
2023-01-02    2
2023-01-03    3
dtype: int64

In [17]:
# convert data column/Series to index
fake_dat = pd.DataFrame(
    {
        'purchase_date': ['2023-01-01', '2023-01-02', '2023-01-03'], 
        'purchase_amout': [100, 200, 300],
        'item': ['pen', 'pencil', 'paper']
    }
)

fake_dat

  purchase_date  purchase_amout    item
0    2023-01-01             100     pen
1    2023-01-02             200  pencil
2    2023-01-03             300   paper

In [18]:
# convert purchase_date to datetime
fake_dat['purchase_date'] = pd.to_datetime(fake_dat['purchase_date'])
fake_dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   purchase_date   3 non-null      datetime64[ns]
 1   purchase_amout  3 non-null      int64
 2   item            3 non-null      object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 200.0+ bytes

In [19]:
# make purchase_date the index
(
    fake_dat
      .set_index('purchase_date')
      .index
)

# index is already a datetime index

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03'], dtype='datetime64[ns]', name='purchase_date', freq=None)

## pd.to_datetime() method
- convert to Pandas time related object
- e.g., string or Python date object to Pandas datetime object
- errors = 'coerce' for NaT, not a time, when something can't be converted to a Pandas datetime
  - default is errors = 'raise'

In [20]:
# convert strings to Pandas datetime
pd.to_datetime('2023-01-01')

Timestamp('2023-01-01 00:00:00')

In [21]:
# can also convert a list of strings
pd.to_datetime(['2023-01-01', '2023-01-02', '2023-01-03'])

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03'], dtype='datetime64[ns]', freq=None)

In [22]:
# convert Pandas dates to datetime
pd.to_datetime(dt.datetime(2023, 1, 1))

# same with list

Timestamp('2023-01-01 00:00:00')

In [23]:
# common use is converting existing Series to datetime
purchase_dates = pd.Series(
    data = ['2023-01-01', '2023-01-02', '2023-01-03']
)

purchase_dates

0    2023-01-01
1    2023-01-02
2    2023-01-03
dtype: object

In [24]:
# convert purchase_dates Series to datetime
purchase_dates = pd.to_datetime(purchase_dates)

purchase_dates

0   2023-01-01
1   2023-01-02
2   2023-01-03
dtype: datetime64[ns]

In [25]:
# what if some of the dates aren't a date?
(
    pd.to_datetime(
        pd.Series(
            data = ['2023-01-01', '2023-01-02', 'hello', '2023-02-31'],  # first two are fine; hello and feb 31 aren't dates
        ),
        errors = 'coerce'                                                # default is 'raise'

    )
)

# NaT is not a time; basically can't be converted in pandas datetime
# akin to NaN

0   2023-01-01
1   2023-01-02
2          NaT
3          NaT
dtype: datetime64[ns]

In [26]:
# unix time: number of seconds since Jan 1, 1970 at midnight
# need additional parameter: unit = 's'
(
    pd.to_datetime(
        [1, 2, 3],                # unix time
        unit = 's'
    )
)

DatetimeIndex(['1970-01-01 00:00:01', '1970-01-01 00:00:02',
               '1970-01-01 00:00:03'],
              dtype='datetime64[ns]', freq=None)

## pd.date_range() method
- create a date index quickly based on start, end, and frequency (freq)

In [27]:
# start, end, and freq
# need at least 2 out of these 3 parameters

In [28]:
# from jan 1 thru dec 31, 2023
(
    pd.date_range(
        start = '2023-01-01',
        end = '2023-12-31', 
        freq = 'D'                # D for 1 Day; increments of 1 day; can do 2D for 2 days, 3D for 3 days
    )
)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10',
               ...
               '2023-12-22', '2023-12-23', '2023-12-24', '2023-12-25',
               '2023-12-26', '2023-12-27', '2023-12-28', '2023-12-29',
               '2023-12-30', '2023-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

In [29]:
# other freq arguments
# B for business days; excludes weekends and maybe holidays?
(
    pd.date_range(
        start = '2018-12-20', 
        end = '2018-12-31', 
        freq = 'B'                  # excludes weekends, but inclues Christmas day
    )
)

DatetimeIndex(['2018-12-20', '2018-12-21', '2018-12-24', '2018-12-25',
               '2018-12-26', '2018-12-27', '2018-12-28', '2018-12-31'],
              dtype='datetime64[ns]', freq='B')

In [30]:
# W for week; see documentation; W-SUN, etc.
# H for hour; can precede with number for number of hours
# M for month end, last day of month

In [31]:
pd.date_range(
    start = '2023-01-01', 
    end = '2023-12-01',      
    freq = 'M'                  # Dec 31 after the end parameter of Dec 1
)

DatetimeIndex(['2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30',
               '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31',
               '2023-09-30', '2023-10-31', '2023-11-30'],
              dtype='datetime64[ns]', freq='M')

In [32]:
# MS for month start
pd.date_range(
    start = '2023-01-01', 
    end = '2023-12-01',      
    freq = 'MS'                  # now we get start of each month
)

DatetimeIndex(['2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01',
               '2023-05-01', '2023-06-01', '2023-07-01', '2023-08-01',
               '2023-09-01', '2023-10-01', '2023-11-01', '2023-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [33]:
# A for year end; last day of each year
pd.date_range(
  start = '2023-01-01', 
  end = '2050-01-01',
  freq = 'A'
)

DatetimeIndex(['2023-12-31', '2024-12-31', '2025-12-31', '2026-12-31',
               '2027-12-31', '2028-12-31', '2029-12-31', '2030-12-31',
               '2031-12-31', '2032-12-31', '2033-12-31', '2034-12-31',
               '2035-12-31', '2036-12-31', '2037-12-31', '2038-12-31',
               '2039-12-31', '2040-12-31', '2041-12-31', '2042-12-31',
               '2043-12-31', '2044-12-31', '2045-12-31', '2046-12-31',
               '2047-12-31', '2048-12-31', '2049-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

## pd.date_range() method, continued
- create a DatetimeIndex of a specified length using periods parameter

In [34]:
# 25 days starting on sep 9, 2012
(
    pd.date_range(
        start = '2012-09-12', 
        periods = 25,
        freq = 'D'
    )
)

# length of resulting DatetimeIndex is 25

DatetimeIndex(['2012-09-12', '2012-09-13', '2012-09-14', '2012-09-15',
               '2012-09-16', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-22', '2012-09-23',
               '2012-09-24', '2012-09-25', '2012-09-26', '2012-09-27',
               '2012-09-28', '2012-09-29', '2012-09-30', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-06'],
              dtype='datetime64[ns]', freq='D')

In [35]:
# 50 business days staring on april 15, 2022
(
    pd.date_range(
        start = '2022-04-15', 
        periods = 50,
        freq = 'B'                 # exclude weekends
    )
)

# length of resulting DatetimeIndex is 50

DatetimeIndex(['2022-04-15', '2022-04-18', '2022-04-19', '2022-04-20',
               '2022-04-21', '2022-04-22', '2022-04-25', '2022-04-26',
               '2022-04-27', '2022-04-28', '2022-04-29', '2022-05-02',
               '2022-05-03', '2022-05-04', '2022-05-05', '2022-05-06',
               '2022-05-09', '2022-05-10', '2022-05-11', '2022-05-12',
               '2022-05-13', '2022-05-16', '2022-05-17', '2022-05-18',
               '2022-05-19', '2022-05-20', '2022-05-23', '2022-05-24',
               '2022-05-25', '2022-05-26', '2022-05-27', '2022-05-30',
               '2022-05-31', '2022-06-01', '2022-06-02', '2022-06-03',
               '2022-06-06', '2022-06-07', '2022-06-08', '2022-06-09',
               '2022-06-10', '2022-06-13', '2022-06-14', '2022-06-15',
               '2022-06-16', '2022-06-17', '2022-06-20', '2022-06-21',
               '2022-06-22', '2022-06-23'],
              dtype='datetime64[ns]', freq='B')

In [36]:
# 10 weeks, starting on Mondays
# starting on Jan 1, 2023

pd.date_range(
    start = '2023-01-01', 
    periods = 10, 
    freq = 'W-MON'
)

DatetimeIndex(['2023-01-02', '2023-01-09', '2023-01-16', '2023-01-23',
               '2023-01-30', '2023-02-06', '2023-02-13', '2023-02-20',
               '2023-02-27', '2023-03-06'],
              dtype='datetime64[ns]', freq='W-MON')

## pd.date_range() method, continued
- create and DatetimeIndex of specific length and end date using end and periods parameter

In [37]:
# 30 Mondays before 2023-01-02
pd.date_range(
    end = '2023-01-02', 
    periods = 30,
    freq = 'W-MON'
)

DatetimeIndex(['2022-06-13', '2022-06-20', '2022-06-27', '2022-07-04',
               '2022-07-11', '2022-07-18', '2022-07-25', '2022-08-01',
               '2022-08-08', '2022-08-15', '2022-08-22', '2022-08-29',
               '2022-09-05', '2022-09-12', '2022-09-19', '2022-09-26',
               '2022-10-03', '2022-10-10', '2022-10-17', '2022-10-24',
               '2022-10-31', '2022-11-07', '2022-11-14', '2022-11-21',
               '2022-11-28', '2022-12-05', '2022-12-12', '2022-12-19',
               '2022-12-26', '2023-01-02'],
              dtype='datetime64[ns]', freq='W-MON')

In [38]:
# 53 months ending Feb 2023
pd.date_range(
    end = '2023-02-01', 
    periods = 53, 
    freq = 'MS'
)

DatetimeIndex(['2018-10-01', '2018-11-01', '2018-12-01', '2019-01-01',
               '2019-02-01', '2019-03-01', '2019-04-01', '2019-05-01',
               '2019-06-01', '2019-07-01', '2019-08-01', '2019-09-01',
               '2019-10-01', '2019-11-01', '2019-12-01', '2020-01-01',
               '2020-02-01', '2020-03-01', '2020-04-01', '2020-05-01',
               '2020-06-01', '2020-07-01', '2020-08-01', '2020-09-01',
               '2020-10-01', '2020-11-01', '2020-12-01', '2021-01-01',
               '2021-02-01', '2021-03-01', '2021-04-01', '2021-05-01',
               '2021-06-01', '2021-07-01', '2021-08-01', '2021-09-01',
               '2021-10-01', '2021-11-01', '2021-12-01', '2022-01-01',
               '2022-02-01', '2022-03-01', '2022-04-01', '2022-05-01',
               '2022-06-01', '2022-07-01', '2022-08-01', '2022-09-01',
               '2022-10-01', '2022-11-01', '2022-12-01', '2023-01-01',
               '2023-02-01'],
              dtype='datetime64[ns]', freq='MS')

## .dt accessor
- akin to .str prefix before string methods
- useful for pulling out elements of a date
  - year
  - month: both number and name
  - day: both number and day of week (e.g., Sunday)
- need to precede with .dt accessor
- parallels R lubridate package

In [39]:
# create a DatetimeIndex
bunch_of_dates = pd.date_range(
    start = '2019-07-06', 
    end = '2023-07-06', 
    freq = '2W'
)

bunch_of_dates

DatetimeIndex(['2019-07-07', '2019-07-21', '2019-08-04', '2019-08-18',
               '2019-09-01', '2019-09-15', '2019-09-29', '2019-10-13',
               '2019-10-27', '2019-11-10',
               ...
               '2023-02-26', '2023-03-12', '2023-03-26', '2023-04-09',
               '2023-04-23', '2023-05-07', '2023-05-21', '2023-06-04',
               '2023-06-18', '2023-07-02'],
              dtype='datetime64[ns]', length=105, freq='2W-SUN')

In [40]:
# put bunch_of_dates in a DataFrame
bunch_of_dates_df = (
    pd.Series(bunch_of_dates)
      .to_frame()
      .rename(columns = {0: 'date'})
)

bunch_of_dates_df.head()

        date
0 2019-07-07
1 2019-07-21
2 2019-08-04
3 2019-08-18
4 2019-09-01

In [41]:
# get year of each date and assign it to its own column/Series
bunch_of_dates_df['year'] = bunch_of_dates_df['date'].dt.year      # need to use .dt accessor

bunch_of_dates_df.head()

        date  year
0 2019-07-07  2019
1 2019-07-21  2019
2 2019-08-04  2019
3 2019-08-18  2019
4 2019-09-01  2019

In [42]:
# get month of each date as a word and assign it to its own column/Series
bunch_of_dates_df['month_name'] = bunch_of_dates_df['date'].dt.month_name()

bunch_of_dates_df.head()

        date  year month_name
0 2019-07-07  2019       July
1 2019-07-21  2019       July
2 2019-08-04  2019     August
3 2019-08-18  2019     August
4 2019-09-01  2019  September

In [43]:
# get month of each date as a number and assign it to its own column/Series
bunch_of_dates_df['month_number'] = bunch_of_dates_df['date'].dt.month

bunch_of_dates_df.head()

        date  year month_name  month_number
0 2019-07-07  2019       July             7
1 2019-07-21  2019       July             7
2 2019-08-04  2019     August             8
3 2019-08-18  2019     August             8
4 2019-09-01  2019  September             9

In [44]:
# get each day as a day of week (Mon, Tue, Wed, etc.) and assign it to its own column/Series
bunch_of_dates_df['day_of_week_name'] = bunch_of_dates_df['date'].dt.day_name()

bunch_of_dates_df.head()

        date  year month_name  month_number day_of_week_name
0 2019-07-07  2019       July             7           Sunday
1 2019-07-21  2019       July             7           Sunday
2 2019-08-04  2019     August             8           Sunday
3 2019-08-18  2019     August             8           Sunday
4 2019-09-01  2019  September             9           Sunday

In [45]:
# get each day as a number and assign it to its own column/Series
bunch_of_dates_df['day'] = bunch_of_dates_df['date'].dt.day

bunch_of_dates_df.head()

        date  year month_name  month_number day_of_week_name  day
0 2019-07-07  2019       July             7           Sunday    7
1 2019-07-21  2019       July             7           Sunday   21
2 2019-08-04  2019     August             8           Sunday    4
3 2019-08-18  2019     August             8           Sunday   18
4 2019-09-01  2019  September             9           Sunday    1

In [46]:
# booleans for whether date is something
bunch_of_dates_df['date'].dt.is_quarter_start

# useful for filtering, boolean mask

0      False
1      False
2      False
3      False
4      False
       ...
100    False
101    False
102    False
103    False
104    False
Name: date, Length: 105, dtype: bool

## install pandas-datareader library

In [47]:
!pip freeze

# pandas-datareader already installed

absl-py==1.3.0
aeppl==0.0.33
aesara==2.7.9
aiohttp==3.8.3
aiosignal==1.3.1
alabaster==0.7.12
albumentations==1.2.1
altair==4.2.0
appdirs==1.4.4
arviz==0.12.1
astor==0.8.1
astropy==4.3.1
astunparse==1.6.3
async-timeout==4.0.2
atari-py==0.2.9
atomicwrites==1.4.1
attrs==22.2.0
audioread==3.0.0
autograd==1.5
Babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.6.3
bleach==5.0.1
blis==0.7.9
bokeh==2.3.3
branca==0.6.0
bs4==0.0.1
CacheControl==0.12.11
cachetools==5.2.0
catalogue==2.0.8
certifi==2022.12.7
cffi==1.15.1
cftime==1.6.2
chardet==4.0.0
charset-normalizer==2.1.1
click==7.1.2
clikit==0.6.2
cloudpickle==1.5.0
cmake==3.22.6
cmdstanpy==1.0.8
colorcet==3.0.1
colorlover==0.3.0
community==1.0.0b1
confection==0.0.3
cons==0.4.5
contextlib2==0.5.5
convertdate==2.4.0
crashtest==0.3.1
crcmod==1.7
cufflinks==0.17.3
cvxopt==1.3.0
cvxpy==1.2.2
cycler==0.11.0
cymem==2.0.7
Cython==0.29.32
daft==0.0.4
dask==2022.2.1
datascience==0.17.5
db-dtypes==1.0.5
debugpy==1.0.0
decorator==4.4.2
defusedxml==0.7.1
descartes==1.1.0
dill==0.3.6
distributed==2022.2.1
dlib==19.24.0
dm-tree==0.1.8
dnspython==2.2.1
docutils==0.17.1
dopamine-rl==1.0.5
earthengine-api==0.1.335
easydict==1.10
ecos==2.0.11
editdistance==0.5.3
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl
entrypoints==0.4
ephem==4.1.4
et-xmlfile==1.1.0
etils==0.9.0
etuples==0.3.8
fa2==0.3.5
fastai==2.7.10
fastcore==1.5.27
fastdownload==0.0.7
fastdtw==0.3.4
fastjsonschema==2.16.2
fastprogress==1.0.3
fastrlock==0.8.1
feather-format==0.4.1
filelock==3.8.2
firebase-admin==5.3.0
fix-yahoo-finance==0.0.22
Flask==1.1.4
flatbuffers==1.12
folium==0.12.1.post1
frozenlist==1.3.3
fsspec==2022.11.0
future==0.16.0
gast==0.4.0
GDAL==2.2.3
gdown==4.4.0
gensim==3.6.0
geographiclib==1.52
geopy==1.17.0
gin-config==0.5.0
glob2==0.7
google==2.0.3
google-api-core==2.11.0
google-api-python-client==2.70.0
google-auth==2.15.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-bigquery==3.4.1
google-cloud-bigquery-storage==2.17.0
google-cloud-core==2.3.2
google-cloud-datastore==2.11.0
google-cloud-firestore==2.7.3
google-cloud-language==2.6.1
google-cloud-storage==2.7.0
google-cloud-translate==3.8.4
google-colab @ file:///colabtools/dist/google-colab-1.0.0.tar.gz
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.4.0
googleapis-common-protos==1.57.0
googledrivedownloader==0.4
graphviz==0.10.1
greenlet==2.0.1
grpcio==1.51.1
grpcio-status==1.48.2
gspread==3.4.2
gspread-dataframe==3.0.8
gym==0.25.2
gym-notices==0.0.8
h5py==3.1.0
HeapDict==1.0.1
hijri-converter==2.2.4
holidays==0.17.2
holoviews==1.14.9
html5lib==1.0.1
httpimport==0.5.18
httplib2==0.17.4
httpstan==4.6.1
humanize==0.5.1
hyperopt==0.1.2
idna==2.10
imageio==2.9.0
imagesize==1.4.1
imbalanced-learn==0.8.1
imblearn==0.0
imgaug==0.4.0
importlib-metadata==5.2.0
importlib-resources==5.10.1
imutils==0.5.4
inflect==2.1.0
intel-openmp==2023.0.0
intervaltree==2.1.0
ipykernel==5.3.4
ipython==7.9.0
ipython-genutils==0.2.0
ipython-sql==0.3.9
ipywidgets==7.7.1
itsdangerous==1.1.0
jax==0.3.25
jaxlib @ https://storage.googleapis.com/jax-releases/cuda11/jaxlib-0.3.25+cuda11.cudnn805-cp38-cp38-manylinux2014_x86_64.whl
jieba==0.42.1
Jinja2==2.11.3
joblib==1.2.0
jpeg4py==0.1.4
jsonschema==4.3.3
jupyter-client==6.1.12
jupyter-console==6.1.0
jupyter_core==5.1.1
jupyterlab-widgets==3.0.5
kaggle==1.5.12
kapre==0.3.7
keras==2.9.0
Keras-Preprocessing==1.1.2
keras-vis==0.4.1
kiwisolver==1.4.4
korean-lunar-calendar==0.3.1
langcodes==3.3.0
libclang==14.0.6
librosa==0.8.1
lightgbm==2.2.3
llvmlite==0.39.1
lmdb==0.99
locket==1.0.0
logical-unification==0.4.5
LunarCalendar==0.0.9
lxml==4.9.2
Markdown==3.4.1
MarkupSafe==2.0.1
marshmallow==3.19.0
matplotlib==3.2.2
matplotlib-venn==0.11.7
miniKanren==1.0.3
missingno==0.5.1
mistune==0.8.4
mizani==0.7.3
mkl==2019.0
mlxtend==0.14.0
more-itertools==9.0.0
moviepy==0.2.3.5
mpmath==1.2.1
msgpack==1.0.4
multidict==6.0.3
multipledispatch==0.6.0
multitasking==0.0.11
murmurhash==1.0.9
music21==5.5.0
natsort==5.5.0
nbconvert==5.6.1
nbformat==5.7.1
netCDF4==1.6.2
networkx==2.8.8
nibabel==3.0.2
nltk==3.7
notebook==5.7.16
numba==0.56.4
numexpr==2.8.4
numpy==1.21.6
oauth2client==4.1.3
oauthlib==3.2.2
okgrade==0.4.3
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
opencv-python-headless==4.6.0.66
openpyxl==3.0.10
opt-einsum==3.3.0
osqp==0.6.2.post0
packaging==21.3
palettable==3.3.0
pandas==1.3.5
pandas-datareader==0.9.0
pandas-gbq==0.17.9
pandas-profiling==1.4.1
pandocfilters==1.5.0
panel==0.12.1
param==1.12.3
parso==0.8.3
partd==1.3.0
pastel==0.2.1
pathlib==1.0.1
pathy==0.10.1
patsy==0.5.3
pep517==0.13.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
pip-tools==6.6.2
platformdirs==2.6.0
plotly==5.5.0
plotnine==0.8.0
pluggy==0.7.1
pooch==1.6.0
portpicker==1.3.9
prefetch-generator==1.0.3
preshed==3.0.8
prettytable==3.5.0
progressbar2==3.38.0
prometheus-client==0.15.0
promise==2.3
prompt-toolkit==2.0.10
prophet==1.1.1
proto-plus==1.22.1
protobuf==3.19.6
psutil==5.4.8
psycopg2==2.9.5
ptyprocess==0.7.0
py==1.11.0
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.6
pycparser==2.21
pyct==0.4.8
pydantic==1.10.2
pydata-google-auth==1.4.0
pydot==1.3.0
pydot-ng==2.0.0
pydotplus==2.0.2
PyDrive==1.3.1
pyemd==0.5.1
pyerfa==2.0.0.1
Pygments==2.6.1
PyGObject==3.26.1
pylev==1.4.0
pymc==4.1.4
PyMeeus==0.5.12
pymongo==4.3.3
pymystem3==0.2.0
PyOpenGL==3.1.6
pyparsing==3.0.9
pyrsistent==0.19.2
pysimdjson==3.2.0
pysndfile==1.3.8
PySocks==1.7.1
pystan==3.3.0
pytest==3.6.4
python-apt==0.0.0
python-dateutil==2.8.2
python-louvain==0.16
python-slugify==7.0.0
python-utils==3.4.5
pytz==2022.7
pyviz-comms==2.2.1
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==23.2.1
qdldl==0.1.5.post2
qudida==0.0.4
regex==2022.6.2
requests==2.25.1
requests-oauthlib==1.3.1
resampy==0.4.2
rpy2==3.5.5
rsa==4.9
scikit-image==0.18.3
scikit-learn==1.0.2
scipy==1.7.3
screen-resolution-extra==0.0.0
scs==3.2.2
seaborn==0.11.2
Send2Trash==1.8.0
setuptools-git==1.2
shapely==2.0.0
six==1.15.0
sklearn-pandas==1.8.0
smart-open==6.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soundfile==0.11.0
spacy==3.4.4
spacy-legacy==3.0.10
spacy-loggers==1.0.4
Sphinx==1.8.6
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
SQLAlchemy==1.4.45
sqlparse==0.4.3
srsly==2.4.5
statsmodels==0.12.2
sympy==1.7.1
tables==3.7.0
tabulate==0.8.10
tblib==1.7.0
tenacity==8.1.0
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.2
tensorflow-datasets==4.6.0
tensorflow-estimator==2.9.0
tensorflow-gcs-config==2.9.1
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.29.0
tensorflow-metadata==1.12.0
tensorflow-probability==0.17.0
termcolor==2.1.1
terminado==0.13.3
testpath==0.6.0
text-unidecode==1.3
textblob==0.15.3
thinc==8.1.6
threadpoolctl==3.1.0
tifffile==2022.10.10
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch @ https://download.pytorch.org/whl/cu116/torch-1.13.0%2Bcu116-cp38-cp38-linux_x86_64.whl
torchaudio @ https://download.pytorch.org/whl/cu116/torchaudio-0.13.0%2Bcu116-cp38-cp38-linux_x86_64.whl
torchsummary==1.5.1
torchtext==0.14.0
torchvision @ https://download.pytorch.org/whl/cu116/torchvision-0.14.0%2Bcu116-cp38-cp38-linux_x86_64.whl
tornado==6.0.4
tqdm==4.64.1
traitlets==5.7.1
tweepy==3.10.0
typeguard==2.7.1
typer==0.7.0
typing_extensions==4.4.0
tzlocal==1.5.1
uritemplate==4.1.1
urllib3==1.24.3
vega-datasets==0.9.0
wasabi==0.10.1
wcwidth==0.2.5
webargs==8.2.0
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.6.1
wordcloud==1.8.2.2
wrapt==1.14.1
xarray==2022.12.0
xarray-einstats==0.4.0
xgboost==0.90
xkit==0.0.0
xlrd==1.2.0
xlwt==1.3.0
yarl==1.8.2
yellowbrick==1.5
zict==2.2.0
zipp==3.11.0

## Import financial data with pandas_datareader library

In [48]:
!pip install --upgrade pandas
!pip install --upgrade pandas-datareader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Collecting pandas
  Downloading pandas-1.5.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.2/12.2 MB 43.9 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.8.1->pandas) (1.15.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.3.5
    Uninstalling pandas-1.3.5:
      Successfully uninstalled pandas-1.3.5
Successfully installed pandas-1.5.2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.8/dist-packages (0.9.0)
Collecting pandas-datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 109.5/109.5 KB 4.1 MB/s eta 0:00:00
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (from pandas-datareader) (4.9.2)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.8/dist-packages (from pandas-datareader) (1.5.2)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.8/dist-packages (from pandas-datareader) (2.25.1)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.23->pandas-datareader) (1.21.6)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.23->pandas-datareader) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.19.0->pandas-datareader) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.19.0->pandas-datareader) (2022.12.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas-datareader) (1.15.0)
Installing collected packages: pandas-datareader
  Attempting uninstall: pandas-datareader
    Found existing installation: pandas-datareader 0.9.0
    Uninstalling pandas-datareader-0.9.0:
      Successfully uninstalled pandas-datareader-0.9.0
Successfully installed pandas-datareader-0.10.0

In [49]:
from pandas_datareader import data   # data can be called at top level without a prefix

In [50]:
# MSFT stock data
#data.DataReader(
 #   name = "MSFT", 
  #  start = '2022-01-01', 
   # end = '2022-12-31', 
    #data_source = 'yahoo'
#)

In [51]:
# datareader didn't work; just work with another dataset that has a date index

## Selecting rows from a DataFrame with a DatetimeIndex
- using .loc[ ]

In [52]:
# DatetimeIndex
pd.date_range(
    start = '2022-01-01', 
    end = '2022-12-31', 
    freq = 'D'
)

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10',
               ...
               '2022-12-22', '2022-12-23', '2022-12-24', '2022-12-25',
               '2022-12-26', '2022-12-27', '2022-12-28', '2022-12-29',
               '2022-12-30', '2022-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

In [53]:
# random integer betwen 1 and 10
np.random.randint(low = 1, high = 11, size = 365)

array([ 2,  7,  5, 10,  5,  8,  2, 10,  4,  9,  2,  8,  2,  8, 10,  7,  5,
        6,  1, 10,  7,  8,  3,  6,  6,  8,  8,  7, 10,  7,  8,  9,  7,  8,
        2, 10,  1,  8,  8,  5,  8,  1,  8,  4,  7,  1,  5,  9,  5,  3,  9,
        6, 10,  1,  3,  1,  8,  7,  5,  2,  7,  6,  6, 10,  1,  2,  8,  8,
        9,  7,  2, 10,  5,  2,  7,  5,  8, 10,  1,  2,  7,  5,  4,  6,  7,
        3,  4,  4,  3,  9,  8, 10,  7,  3,  5,  8,  9,  2,  1,  3,  4,  2,
        6,  3,  1,  2,  8,  2,  7,  8, 10,  8,  8,  2,  6,  5,  9,  2,  1,
        3,  9,  4,  9,  3,  7,  4, 10,  5,  3,  3, 10,  1,  7,  2,  2,  6,
        8,  2,  1,  7,  4, 10, 10,  5,  3,  7,  8,  9,  7,  3,  8, 10,  4,
       10,  4,  8,  5,  6,  1, 10,  5,  2,  1, 10,  1,  3,  1, 10,  9,  5,
       10,  6,  9,  2,  4,  9,  6,  2,  7,  1,  9,  7,  3,  7,  5,  4,  6,
        3,  8,  3,  7,  4, 10,  4,  1,  7,  8,  1, 10,  9,  5,  5,  8,  7,
        3,  9,  6, 10,  3,  9,  1,  2,  4,  4,  2,  3,  5,  6,  9,  7,  9,
        3,  6,  2,  7,  1,  1,  5,  7,  1,  8,  8,  5,  7,  4,  1,  3,  9,
        3,  6,  5,  9,  7,  8,  9,  2,  1,  2,  2,  5,  2, 10,  2,  4,  8,
        7, 10,  2,  5,  7,  7,  5,  3,  2,  1,  8,  9,  3,  8,  9, 10,  1,
        2,  5,  1,  4,  5,  6,  7,  2,  2, 10,  9,  6,  4,  7,  2,  4,  9,
        9,  3,  5,  6,  3,  8,  6,  2,  8,  9, 10,  5, 10,  8,  8,  4,  1,
        2,  6,  9,  5,  8,  2,  7,  1,  4,  1,  2,  5,  3,  1,  8, 10,  9,
        8,  1,  5,  3,  9,  7,  2, 10,  3,  4,  7, 10,  5,  8,  5,  1,  4,
        6,  9,  3, 10,  4,  2,  8,  9,  1,  4, 10,  3,  9,  4,  4,  4,  5,
        1,  8,  2,  9,  8,  7,  4,  5])

In [54]:
fake_df = pd.DataFrame(
    {
        'purchase_date': pd.date_range(start = '2022-01-01', end = '2022-12-31', freq = 'D'),
        'amount': np.random.randint(low = 1, high = 11, size = 365)
    }
).set_index('purchase_date')

fake_df.head()

               amount
purchase_date
2022-01-01          9
2022-01-02          2
2022-01-03          7
2022-01-04          2
2022-01-05          8

In [55]:
# pull out jan 1, 2022
fake_df.loc['2022-01-01']

amount    9
Name: 2022-01-01 00:00:00, dtype: int64

In [56]:
# preferred way to pull out jan 1, 2022
fake_df.loc[pd.Timestamp('2022-01-01')]

amount    9
Name: 2022-01-01 00:00:00, dtype: int64

In [57]:
# for a list, you need to convert strings into Timestamps; I guess you don't, contrary to video, code below works
# pull out jan 1 and jan 10
fake_df.loc[['2022-01-01', '2022-01-02'],:]

               amount
purchase_date
2022-01-01          9
2022-01-02          2

In [58]:
# feb 1 thru feb 15, 2023
fake_df.loc['2022-02-01':'2022-02-15', :]    # comma separates arguments; colon indicates all columns

               amount
purchase_date
2022-02-01          3
2022-02-02          7
2022-02-03         10
2022-02-04          2
2022-02-05          2
2022-02-06          4
2022-02-07         10
2022-02-08          1
2022-02-09          6
2022-02-10          4
2022-02-11          5
2022-02-12          7
2022-02-13          1
2022-02-14          6
2022-02-15         10

In [59]:
# 14th of each month
month_14th = pd.date_range(start = '2022-01-14', end = '2022-12-14', freq = pd.DateOffset(months = 1))
  # 2022-01-14, 2022-02-14, ...

# boolean mask
fake_df.index.isin(month_14th)

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False])

In [60]:
# values on 14th of each month
fake_df.loc[fake_df.index.isin(month_14th), :]

               amount
purchase_date
2022-01-14          6
2022-02-14          6
2022-03-14          3
2022-04-14          9
2022-05-14          7
2022-06-14          8
2022-07-14          2
2022-08-14          3
2022-09-14          7
2022-10-14          2
2022-11-14          1
2022-12-14          4

## Pandas Timestamp object's methods and attributes

In [61]:
fake_df.head()

               amount
purchase_date
2022-01-01          9
2022-01-02          2
2022-01-03          7
2022-01-04          2
2022-01-05          8

In [63]:
(
    fake_df
      .reset_index()
      ['purchase_date']
      .dt.year
)

0      2022
1      2022
2      2022
3      2022
4      2022
       ...
360    2022
361    2022
362    2022
363    2022
364    2022
Name: purchase_date, Length: 365, dtype: int64