<a href="https://colab.research.google.com/github/jack-cao-623/python_learning/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas tutorials from Kaggle

In [5]:
# get data
# first, mount google drive

In [6]:
# copy .json file from mounted drive to current instance
! cp /content/drive/MyDrive/kaggle.json ~/.kaggle/kaggle.json

In [7]:
# get data
! kaggle datasets download christopheiv/winemagdata130k -f winemag-data-130k-v2.csv

Downloading winemag-data-130k-v2.csv.zip to /content
 31% 5.00M/16.4M [00:00<00:00, 43.3MB/s]
100% 16.4M/16.4M [00:00<00:00, 102MB/s]

In [8]:
# unzip
! unzip winemag-data-130k-v2.csv.zip

Archive:  winemag-data-130k-v2.csv.zip
  inflating: winemag-data-130k-v2.csv

In [9]:
# libraries needed
import numpy as np
import pandas as pd

In [10]:
# load data into python
wine = pd.read_csv('winemag-data-130k-v2.csv', index_col = 0)

# first 5 rows
wine.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [11]:
# number of rows and columns
wine.shape
  # 130k rows, 13 columns

(129971, 13)

In [12]:
# column names
wine.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery'],
      dtype='object')

In [13]:
# number of rows for each country
wine['country'].value_counts()

US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Serbia                       12
Czech Republic               12
Macedonia                    12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Bosnia and Herzegovina        2
Armenia                       2
Slovakia                      1
China                         1
Egypt                         1
Name: country, dtype: int64

In [15]:
# rows where country is U.S. and points is >= 90
(
    wine
    # filter
    [(wine['country'] == 'US')     # only United States
      & (wine['points'] >= 90)     # scored at least 90 points
    ]
    .shape
)

#wine[(wine['country'] == 'US') & (wine['points'] >= 90)]

(22325, 13)

In [11]:
# using .iloc[]

# first 12 rows and first 2 columns
wine.iloc[:12, :2]

# don't use brackets [] or parentheses () with .iloc[]

     country                                        description
0      Italy  Aromas include tropical fruit, broom, brimston...
1   Portugal  This is ripe and fruity, a wine that is smooth...
2         US  Tart and snappy, the flavors of lime flesh and...
3         US  Pineapple rind, lemon pith and orange blossom ...
4         US  Much like the regular bottling from 2012, this...
5      Spain  Blackberry and raspberry aromas show a typical...
6      Italy  Here's a bright, informal red that opens with ...
7     France  This dry and restrained wine offers spice in p...
8    Germany  Savory dried thyme notes accent sunnier flavor...
9     France  This has great depth of flavor with its fresh ...
10        US  Soft, supple plum envelopes an oaky structure ...
11    France  This is a dry wine, very spicy, with a tight, ...

In [12]:
# with .loc[]

# first 13 rows and first 2 columns, country and description

wine.loc[:12, ['country', 'description']]

     country                                        description
0      Italy  Aromas include tropical fruit, broom, brimston...
1   Portugal  This is ripe and fruity, a wine that is smooth...
2         US  Tart and snappy, the flavors of lime flesh and...
3         US  Pineapple rind, lemon pith and orange blossom ...
4         US  Much like the regular bottling from 2012, this...
5      Spain  Blackberry and raspberry aromas show a typical...
6      Italy  Here's a bright, informal red that opens with ...
7     France  This dry and restrained wine offers spice in p...
8    Germany  Savory dried thyme notes accent sunnier flavor...
9     France  This has great depth of flavor with its fresh ...
10        US  Soft, supple plum envelopes an oaky structure ...
11    France  This is a dry wine, very spicy, with a tight, ...
12        US  Slightly reduced, this wine offers a chalky, t...

In [13]:
# first 10 rows using .iloc[]
wine.iloc[:10, :]   # all columns, be explicit

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87,15.0,Northern Spain,Navarra,NaN,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
7,France,This dry and restrained wine offers spice in p...,NaN,87,24.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Trimbach 2012 Gewurztraminer (Alsace),Gewürztraminer,Trimbach
8,Germany,Savory dried thyme notes accent sunnier flavor...,Shine,87,12.0,Rheinhessen,NaN,NaN,Anna Lee C. Iijima,NaN,Heinz Eifel 2013 Shine Gewürztraminer (Rheinhe...,Gewürztraminer,Heinz Eifel
9,France,This has great depth of flavor with its fresh ...,Les Natures,87,27.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Jean-Baptiste Adam 2012 Les Natures Pinot Gris...,Pinot Gris,Jean-Baptiste Adam

In [14]:
# first 10 rows using .loc[]
wine.loc[:9, :]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87,15.0,Northern Spain,Navarra,NaN,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
7,France,This dry and restrained wine offers spice in p...,NaN,87,24.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Trimbach 2012 Gewurztraminer (Alsace),Gewürztraminer,Trimbach
8,Germany,Savory dried thyme notes accent sunnier flavor...,Shine,87,12.0,Rheinhessen,NaN,NaN,Anna Lee C. Iijima,NaN,Heinz Eifel 2013 Shine Gewürztraminer (Rheinhe...,Gewürztraminer,Heinz Eifel
9,France,This has great depth of flavor with its fresh ...,Les Natures,87,27.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Jean-Baptiste Adam 2012 Les Natures Pinot Gris...,Pinot Gris,Jean-Baptiste Adam

In [34]:
# filter to rows where region_1 is Willamette Valley using .query
(
    wine
      .query("region_1 == 'Willamette Valley'")   # filter to rows where region_1 equals Willamette Valley
      ['country']                                 # pull out country as a series
      .unique()                                   # unique values in country series
)

#wine.query("region_1 == 'Willamette Valley'")

array(['US'], dtype=object)

In [39]:
# repeat above without using .query()
(
    wine
      [(wine['region_1'] == 'Willamette Valley') &
       (wine['points'] >= 90)]
      #['country']
      #.unique()
)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
173,US,This wine is bursting with gorgeous cherry fru...,NaN,91,38.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Le Cadeau 2014 Pinot Noir (Willamette Valley),Pinot Noir,Le Cadeau
467,US,"Dense, dark and spicy, this opens with a thick...",Evenstad Reserve,92,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Domaine Serene 2010 Evenstad Reserve Pinot Noi...,Pinot Noir,Domaine Serene
522,US,"The Sims is amped up in 2014, dark and thick a...",Sims Vineyard,91,55.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rex Hill 2014 Sims Vineyard Pinot Noir (Willam...,Pinot Noir,Rex Hill
532,US,Scott Shull (Raptor Ridge) consults here. This...,Diversité,91,50.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Le Cadeau 2015 Diversité Pinot Noir (Willamett...,Pinot Noir,Le Cadeau
533,US,"Slightly liquorous when first opened, this pus...",Équinoxe,91,50.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Le Cadeau 2015 Équinoxe Pinot Noir (Willamette...,Pinot Noir,Le Cadeau
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129306,US,"This is sourced from old vines, and brings typ...",NaN,90,22.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Amity 2014 Riesling (Willamette Valley),Riesling,Amity
129663,US,Sourced from one of the finest vineyards in Or...,Shea Vineyard,93,60.0,Oregon,Willamette Valley,NaN,Paul Gregutt,@paulgwine,Winderlea 2014 Shea Vineyard Pinot Noir,Pinot Noir,Winderlea
129736,US,This has the pretty slightly candied flavors o...,NaN,90,22.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Black Magnolia 2015 Pinot Noir (Willamette Val...,Pinot Noir,Black Magnolia
129745,US,"Good grip is immediately apparent, along with ...",NaN,90,28.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Clay Pigeon 2013 Pinot Noir (Willamette Valley),Pinot Noir,Clay Pigeon
129746,US,Chewy and packed with flavors of dark chocolat...,Sunny Mountain Vineyard,90,55.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rex Hill 2014 Sunny Mountain Vineyard Pinot No...,Pinot Noir,Rex Hill

In [53]:
# average score per country
(
    wine
      .groupby('country')
      [['points']]
      .mean()
      #.index
      #.shape
      #.sort_values('points', ascending = False)
)

                           points
country
Argentina               86.710263
Armenia                 87.500000
Australia               88.580507
Austria                 90.101345
Bosnia and Herzegovina  86.500000
Brazil                  84.673077
Bulgaria                87.936170
Canada                  89.369650
Chile                   86.493515
China                   89.000000
Croatia                 87.219178
Cyprus                  87.181818
Czech Republic          87.250000
Egypt                   84.000000
England                 91.581081
France                  88.845109
Georgia                 87.686047
Germany                 89.851732
Greece                  87.283262
Hungary                 89.191781
India                   90.222222
Israel                  88.471287
Italy                   88.562231
Lebanon                 87.685714
Luxembourg              88.666667
Macedonia               86.833333
Mexico                  85.257143
Moldova                 87.203390
Morocco                 88.571429
New Zealand             88.303030
Peru                    83.562500
Portugal                88.250220
Romania                 86.400000
Serbia                  87.500000
Slovakia                87.000000
Slovenia                88.068966
South Africa            88.056388
Spain                   87.288337
Switzerland             88.571429
Turkey                  88.088889
US                      88.563720
Ukraine                 84.071429
Uruguay                 86.752294

In [56]:
# how many of each country
(
    wine
      .groupby('country')
      ['country']
      .count()
      .sort_values(ascending = False)
)

country
US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Macedonia                    12
Serbia                       12
Czech Republic               12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Armenia                       2
Bosnia and Herzegovina        2
China                         1
Slovakia                      1
Egypt                         1
Name: country, dtype: int64

In [57]:
wine.country

0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [58]:
wine['country'] # equivalent to the above

0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [16]:
# for each point, stats on price
(
    wine
      .groupby('points')
      ['price']
      .agg(['min', 'median', 'mean', 'max', 'count'])
      .reset_index()
      .sort_values(by = 'points', ascending = False)
)

    points   min  median        mean     max  count
20     100  80.0   359.0  485.947368  1500.0     19
19      99  44.0   243.5  284.214286   850.0     28
18      98  50.0   140.0  245.492754  1900.0     69
17      97  35.0   120.0  207.173913  2000.0    207
16      96  20.0    97.0  159.292531  2500.0    482
15      95  20.0    75.0  109.235420   973.0   1406
14      94  13.0    63.0   81.436938  1125.0   3449
13      93  12.0    52.0   63.112216   770.0   5935
12      92  11.0    45.0   51.037763   750.0   8871
11      91   7.0    38.0   43.224252  2013.0  10564
10      90   8.0    30.0   36.906622   510.0  14361
9       89   7.0    26.0   32.169640   500.0  11324
8       88   6.0    24.0   28.687523  3300.0  16014
7       87   5.0    20.0   24.901884   800.0  15767
6       86   4.0    18.0   22.133759   170.0  11745
5       85   4.0    16.0   19.949562   320.0   8902
4       84   4.0    15.0   19.310215   225.0   6099
3       83   4.0    15.0   18.237353   225.0   2886
2       82   4.0    15.0   18.870767   150.0   1772
1       81   5.0    14.0   17.182353   130.0    680
0       80   5.0    14.0   16.372152    69.0    395

In [17]:
wine.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [22]:
# for each winery, title of first wine
(
    wine
      .groupby('winery')
      .apply(lambda row: row['title'].iloc[0])
)

winery
1+1=3                                     1+1=3 NV Rosé Sparkling (Cava)
10 Knots                            10 Knots 2010 Viognier (Paso Robles)
100 Percent Wine              100 Percent Wine 2015 Moscato (California)
1000 Stories           1000 Stories 2013 Bourbon Barrel Aged Zinfande...
1070 Green                  1070 Green 2011 Sauvignon Blanc (Rutherford)
                                             ...
Órale                       Órale 2011 Cabronita Red (Santa Ynez Valley)
Öko                    Öko 2013 Made With Organically Grown Grapes Ma...
Ökonomierat Rebholz    Ökonomierat Rebholz 2007 Von Rotliegenden Spät...
àMaurice               àMaurice 2013 Fred Estate Syrah (Walla Walla V...
Štoka                                    Štoka 2009 Izbrani Teran (Kras)
Length: 16757, dtype: object

In [27]:
# for each country and province,what's the best wine
(
    wine
      .groupby(['country', 'province'])
      .apply(lambda x: x.loc[x['points'].idxmax()])    # why loc instead of iloc?
)

                              country  \
country   province
Argentina Mendoza Province  Argentina
          Other             Argentina
Armenia   Armenia             Armenia
Australia Australia Other   Australia
          New South Wales   Australia
...                               ...
Uruguay   Juanico             Uruguay
          Montevideo          Uruguay
          Progreso            Uruguay
          San Jose            Uruguay
          Uruguay             Uruguay

                                                                  description  \
country   province
Argentina Mendoza Province  If the color doesn't tell the full story, the ...
          Other             Take note, this could be the best wine Colomé ...
Armenia   Armenia           Deep salmon in color, this wine offers a bouqu...
Australia Australia Other   Writes the book on how to make a wine filled w...
          New South Wales   De Bortoli's Noble One is as good as ever in 2...
...                                                                       ...
Uruguay   Juanico           This mature Bordeaux-style blend is earthy on ...
          Montevideo        A rich, heady bouquet offers aromas of blackbe...
          Progreso          Rusty in color but deep and complex in nature,...
          San Jose          Baked, sweet, heavy aromas turn earthy with ti...
          Uruguay           Cherry and berry aromas are ripe, healthy and ...

                                                        designation  points  \
country   province
Argentina Mendoza Province                         Nicasia Vineyard      97
          Other                                             Reserva      95
Armenia   Armenia                                    Estate Bottled      88
Australia Australia Other                             Sarah's Blend      93
          New South Wales                        Noble One Bortytis      94
...                                                             ...     ...
Uruguay   Juanico                  Preludio Barrel Select Lote N 77      90
          Montevideo        Monte Vide Eu Tannat-Merlot-Tempranillo      91
          Progreso                   Etxe Oneko Fortified Sweet Red      90
          San Jose                         El Preciado Gran Reserva      87
          Uruguay                         Blend 002 Limited Edition      91

                            price          province                 region_1  \
country   province
Argentina Mendoza Province  120.0  Mendoza Province                  Mendoza
          Other              90.0             Other                    Salta
Armenia   Armenia            15.0           Armenia                      NaN
Australia Australia Other    15.0   Australia Other  South Eastern Australia
          New South Wales    32.0   New South Wales          New South Wales
...                           ...               ...                      ...
Uruguay   Juanico            45.0           Juanico                      NaN
          Montevideo         60.0        Montevideo                      NaN
          Progreso           46.0          Progreso                      NaN
          San Jose           50.0          San Jose                      NaN
          Uruguay            22.0           Uruguay                      NaN

                           region_2        taster_name taster_twitter_handle  \
country   province
Argentina Mendoza Province      NaN  Michael Schachner           @wineschach
          Other                 NaN  Michael Schachner           @wineschach
Armenia   Armenia               NaN      Mike DeSimone        @worldwineguys
Australia Australia Other       NaN                NaN                   NaN
          New South Wales       NaN     Joe Czerwinski                @JoeCz
...                             ...                ...                   ...
Uruguay   Juanico               NaN  Michael Schachner           @wineschach
          Montevideo            NaN  Michael Schachner           @wineschach
          Progreso              NaN  Michael Schachner           @wineschach
          San Jose              NaN  Michael Schachner           @wineschach
          Uruguay               NaN  Michael Schachner           @wineschach

                                                                        title  \
country   province
Argentina Mendoza Province  Bodega Catena Zapata 2006 Nicasia Vineyard Mal...
          Other                            Colomé 2010 Reserva Malbec (Salta)
Armenia   Armenia                 Van Ardi 2015 Estate Bottled Rosé (Armenia)
Australia Australia Other   Marquis Philips 2000 Sarah's Blend Red (South ...
          New South Wales   De Bortoli 2007 Noble One Bortytis Semillon (N...
...                                                                       ...
Uruguay   Juanico           Familia Deicas 2004 Preludio Barrel Select Lot...
          Montevideo        Bouza 2015 Monte Vide Eu Tannat-Merlot-Tempran...
          Progreso          Pisano 2007 Etxe Oneko Fortified Sweet Red Tan...
          San Jose          Castillo Viejo 2005 El Preciado Gran Reserva R...
          Uruguay           Narbona NV Blend 002 Limited Edition Tannat-Ca...

                                          variety                winery
country   province
Argentina Mendoza Province                 Malbec  Bodega Catena Zapata
          Other                            Malbec                Colomé
Armenia   Armenia                            Rosé              Van Ardi
Australia Australia Other               Red Blend       Marquis Philips
          New South Wales                Sémillon            De Bortoli
...                                           ...                   ...
Uruguay   Juanico                       Red Blend        Familia Deicas
          Montevideo                    Red Blend                 Bouza
          Progreso                         Tannat                Pisano
          San Jose                      Red Blend        Castillo Viejo
          Uruguay           Tannat-Cabernet Franc               Narbona

[425 rows x 13 columns]

In [31]:
# number of provinces per country
(
    wine
      .groupby('country')
      ['region_2']
      .agg(['size', 'count'])
      .sort_index()
      #.sort_values(ascending = False)
)

                         size  count
country
Argentina                3800      0
Armenia                     2      0
Australia                2329      0
Austria                  3345      0
Bosnia and Herzegovina      2      0
Brazil                     52      0
Bulgaria                  141      0
Canada                    257      0
Chile                    4472      0
China                       1      0
Croatia                    73      0
Cyprus                     11      0
Czech Republic             12      0
Egypt                       1      0
England                    74      0
France                  22093      0
Georgia                    86      0
Germany                  2165      0
Greece                    466      0
Hungary                   146      0
India                       9      0
Israel                    505      0
Italy                   19540      0
Lebanon                    35      0
Luxembourg                  6      0
Macedonia                  12      0
Mexico                     70      0
Moldova                    59      0
Morocco                    28      0
New Zealand              1419      0
Peru                       16      0
Portugal                 5691      0
Romania                   120      0
Serbia                     12      0
Slovakia                    1      0
Slovenia                   87      0
South Africa             1401      0
Spain                    6645      0
Switzerland                 7      0
Turkey                     90      0
US                      54504  50511
Ukraine                    14      0
Uruguay                   109      0

In [33]:
wine['points'].idxmin()

344

In [34]:
wine.iloc[wine['points'].idxmin()]

country                                                              Chile
description              Aromas of pumpkin, squash and corn chips are s...
designation                                                   Gran Reserva
points                                                                  80
price                                                                 19.0
province                                                      Leyda Valley
region_1                                                               NaN
region_2                                                               NaN
taster_name                                              Michael Schachner
taster_twitter_handle                                          @wineschach
title                    Viña Tarapacá 2015 Gran Reserva Chardonnay (Le...
variety                                                         Chardonnay
winery                                                       Viña Tarapacá
Name: 344, dtype: object

In [40]:
# for each country and province,what's the best wine
(
    wine
      .groupby('country')                # one row per country and provice; these are the indices
      #.apply(lambda x: x.loc[x['points'].idxmax()])    # for each country-provice combo, pull out the row with max number of points
      #[['variety', 'winery', 'points', 'price']]
)

In [43]:
# for each taster, what was their best and worst score given
(
    wine
      .groupby('taster_name')
      ['points']
      .agg(['min', 'max'])
      .sort_index()
)

                    min  max
taster_name
Alexander Peartree   80   91
Anna Lee C. Iijima   80   98
Anne Krebiehl MW     80   97
Carrie Dykes         81   92
Christina Pickard    82   93
Fiona Adams          82   91
Jeff Jenssen         82   97
Jim Gordon           80   97
Joe Czerwinski       80  100
Kerin O’Keefe        80  100
Lauren Buzzeo        81   95
Matt Kettmann        81   97
Michael Schachner    80   98
Mike DeSimone        82   94
Paul Gregutt         80  100
Roger Voss           80  100
Sean P. Sullivan     80   97
Susan Kostrzewa      80   94
Virginie Boone       80   99

In [41]:
wine.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery'],
      dtype='object')

In [94]:
# tasters that gave worst (80) and best (100) score
tasters_all = (
    wine
      .groupby('taster_name')
      ['points']
      .agg(['min', 'max'])
      .rename(columns = {'min': 'min_points', 'max': 'max_points'})
)

In [97]:
# these four tasters gave min and max points
tasters_all[(tasters_all['min_points'] == 80) & (tasters_all['max_points'] == 100)]

                min_points  max_points
taster_name
Joe Czerwinski          80         100
Kerin O’Keefe           80         100
Paul Gregutt            80         100
Roger Voss              80         100

In [130]:
# string above together into one step
(
    wine
      .groupby('taster_name')                                         # one row per taster; this is the index
      ['points']                                                      # pull out points column
      .agg(['min', 'max'])                                            # for each taster, min and max points given
      .rename(columns = {'min': 'min_points', 'max': 'max_points'})   # rename columns
      .reset_index()                                                  # changes the index to a column
      .query("min_points == 80 & max_points == 100")                  # filters to tasters that gave lowest and highest score
)

       taster_name  min_points  max_points
8   Joe Czerwinski          80         100
9    Kerin O’Keefe          80         100
14    Paul Gregutt          80         100
15      Roger Voss          80         100

In [139]:
(
    wine
      .groupby('taster_name')                                         # one row per taster; this is the index
      ['points']                                                      # pull out points column
      .agg(['min', 'max'])                                            # for each taster, min and max points given
      .rename(columns = {'min': 'min_points', 'max': 'max_points'})   # rename columns
      .reset_index()                                                  # changes the index to a column
      #.query("min_points == 80 & max_points == 100")                  # filters to tasters that gave lowest and highest score
      .query("(max_points - min_points) != 20")
)

           taster_name  min_points  max_points
0   Alexander Peartree          80          91
1   Anna Lee C. Iijima          80          98
2     Anne Krebiehl MW          80          97
3         Carrie Dykes          81          92
4    Christina Pickard          82          93
5          Fiona Adams          82          91
6         Jeff Jenssen          82          97
7           Jim Gordon          80          97
10       Lauren Buzzeo          81          95
11       Matt Kettmann          81          97
12   Michael Schachner          80          98
13       Mike DeSimone          82          94
16    Sean P. Sullivan          80          97
17     Susan Kostrzewa          80          94
18      Virginie Boone          80          99