<a href="https://colab.research.google.com/github/jack-cao-623/python_learning/blob/main/pandas_merge_join_concat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas merging, joining, and concatenating
- combine 2 or more dataframes
- in Python Pandas:
  - join is only based on index
  - merge is more flexible and can combine using index or columns

In [1]:
# libraries needed
import numpy as np
import pandas as pd

In [2]:
# datasets we'll need
week1_sales = pd.read_csv(
    'https://raw.githubusercontent.com/jack-cao-623/python_learning/main/pandas/Restaurant%20-%20Week%201%20Sales.csv'
)

week2_sales = pd.read_csv(
    'https://raw.githubusercontent.com/jack-cao-623/python_learning/main/pandas/Restaurant%20-%20Week%202%20Sales.csv'
)

customers = pd.read_csv(
    'https://raw.githubusercontent.com/jack-cao-623/python_learning/main/pandas/Restaurant%20-%20Customers.csv'
)

foods = pd.read_csv(
    'https://raw.githubusercontent.com/jack-cao-623/python_learning/main/pandas/Restaurant%20-%20Foods.csv'
)

In [4]:
# examine data

# week1_sales is one row per order: which customer ordered which food in week 1
week1_sales.head()

   Customer ID  Food ID
0          537        9
1           97        4
2          658        1
3          202        2
4          155        9

In [6]:
# week2_sales is one row per order: which customer ordered which food in week 2
week2_sales.head()

   Customer ID  Food ID
0          688       10
1          813        7
2          495       10
3          189        5
4          267        3

In [7]:
# one row per restaurant customer; 'ID' column matches to 'Customer ID' column in week1_sales and week2_sales
customers.head()

   ID First Name Last Name  Gender  Company                     Occupation
0   1     Joseph   Perkins    Male  Dynazzy  Community Outreach Specialist
1   2   Jennifer   Alvarez  Female     DabZ        Senior Quality Engineer
2   3      Roger     Black    Male  Tagfeed              Account Executive
3   4     Steven     Evans    Male     Fatz               Registered Nurse
4   5       Judy  Morrison  Female  Demivee                Legal Assistant

In [8]:
# foods is one row per food
foods.head()

   Food ID   Food Item  Price
0        1       Sushi   3.99
1        2     Burrito   9.99
2        3        Taco   2.99
3        4  Quesadilla   4.25
4        5       Pizza   2.49

## pd.concat() method