<a href="https://colab.research.google.com/github/jack-cao-623/python_learning/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas tutorials from Kaggle

In [3]:
# get data
# first, mount google drive

# copy .json file from mounted drive to current instance
! cp /content/drive/MyDrive/kaggle.json ~/.kaggle/kaggle.json          

# get data
! kaggle datasets download christopheiv/winemagdata130k -f winemag-data-130k-v2.csv

Downloading winemag-data-130k-v2.csv.zip to /content
 31% 5.00M/16.4M [00:00<00:00, 43.8MB/s]
100% 16.4M/16.4M [00:00<00:00, 88.0MB/s]

In [4]:
# unzip
! unzip winemag-data-130k-v2.csv.zip

Archive:  winemag-data-130k-v2.csv.zip
  inflating: winemag-data-130k-v2.csv

In [5]:
# libraries needed
import numpy as np
import pandas as pd

In [6]:
# load data into python
wine = pd.read_csv('winemag-data-130k-v2.csv', index_col = 0)

# first 5 rows
wine.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [7]:
# number of rows and columns
wine.shape
  # 130k rows, 13 columns

(129971, 13)

In [8]:
# column names
wine.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery'],
      dtype='object')

In [9]:
# number of rows for each country
wine['country'].value_counts()

US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Serbia                       12
Czech Republic               12
Macedonia                    12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Bosnia and Herzegovina        2
Armenia                       2
Slovakia                      1
China                         1
Egypt                         1
Name: country, dtype: int64

In [10]:
# rows where country is U.S. and points is >= 90
wine[(wine['country'] == 'US') & (wine['points'] >= 90)]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
121,US,The vineyard is one of the better Chardonnay s...,Stuhlmuller Vineyard,92,36.0,California,Alexander Valley,Sonoma,NaN,NaN,Matrix 2007 Stuhlmuller Vineyard Chardonnay (A...,Chardonnay,Matrix
122,US,Defines Rockpile Zinfandel in intensity of fru...,Rockpile Cemetary Vineyard,92,39.0,California,Rockpile,Sonoma,NaN,NaN,Mauritson 2007 Rockpile Cemetary Vineyard Zinf...,Zinfandel,Mauritson
124,US,This sophisticated wine is mostly Cabernet Sau...,NaN,92,45.0,California,Napa Valley,Napa,NaN,NaN,Silverado 2006 Cabernet Sauvignon (Napa Valley),Cabernet Sauvignon,Silverado
134,US,Give this young Cab time in the cellar to come...,NaN,91,78.0,California,Napa Valley,Napa,NaN,NaN,Clark-Clauden 2007 Cabernet Sauvignon (Napa Va...,Cabernet Sauvignon,Clark-Clauden
142,US,"A beautiful wine, sleek, crisp and ultra-dry, ...",NaN,90,17.0,California,Santa Lucia Highlands,Central Coast,NaN,NaN,Banyan 2007 Riesling (Santa Lucia Highlands),Riesling,Banyan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129945,US,Hailing from one of the more popular vineyards...,Jurassic Park Vineyard Old Vines,90,20.0,California,Santa Ynez Valley,Central Coast,Matt Kettmann,@mattkettmann,Birichino 2013 Jurassic Park Vineyard Old Vine...,Chenin Blanc,Birichino
129949,US,There's no bones about the use of oak in this ...,Barrel Fermented,90,35.0,California,Napa Valley,Napa,Virginie Boone,@vboone,Flora Springs 2013 Barrel Fermented Chardonnay...,Chardonnay,Flora Springs
129950,US,This opens with herbaceous dollops of thyme an...,Blocks 7 & 22,90,35.0,California,Napa Valley,Napa,Virginie Boone,@vboone,Hendry 2012 Blocks 7 & 22 Zinfandel (Napa Valley),Zinfandel,Hendry
129952,US,This Zinfandel from the eastern section of Nap...,NaN,90,22.0,California,Chiles Valley,Napa,Virginie Boone,@vboone,Houdini 2011 Zinfandel (Chiles Valley),Zinfandel,Houdini
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation

In [11]:
# using .iloc[]

# first 12 rows and first 2 columns
wine.iloc[:12, :2]

# don't use brackets [] or parentheses () with .iloc[]

     country                                        description
0      Italy  Aromas include tropical fruit, broom, brimston...
1   Portugal  This is ripe and fruity, a wine that is smooth...
2         US  Tart and snappy, the flavors of lime flesh and...
3         US  Pineapple rind, lemon pith and orange blossom ...
4         US  Much like the regular bottling from 2012, this...
5      Spain  Blackberry and raspberry aromas show a typical...
6      Italy  Here's a bright, informal red that opens with ...
7     France  This dry and restrained wine offers spice in p...
8    Germany  Savory dried thyme notes accent sunnier flavor...
9     France  This has great depth of flavor with its fresh ...
10        US  Soft, supple plum envelopes an oaky structure ...
11    France  This is a dry wine, very spicy, with a tight, ...

In [12]:
# with .loc[]

# first 12 rows and first 2 columns, country and description

wine.loc[:12, ['country', 'description']]

     country                                        description
0      Italy  Aromas include tropical fruit, broom, brimston...
1   Portugal  This is ripe and fruity, a wine that is smooth...
2         US  Tart and snappy, the flavors of lime flesh and...
3         US  Pineapple rind, lemon pith and orange blossom ...
4         US  Much like the regular bottling from 2012, this...
5      Spain  Blackberry and raspberry aromas show a typical...
6      Italy  Here's a bright, informal red that opens with ...
7     France  This dry and restrained wine offers spice in p...
8    Germany  Savory dried thyme notes accent sunnier flavor...
9     France  This has great depth of flavor with its fresh ...
10        US  Soft, supple plum envelopes an oaky structure ...
11    France  This is a dry wine, very spicy, with a tight, ...
12        US  Slightly reduced, this wine offers a chalky, t...

In [13]:
# first 10 rows using .iloc[]
wine.iloc[:10, :]   # all columns, be explicit

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87,15.0,Northern Spain,Navarra,NaN,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
7,France,This dry and restrained wine offers spice in p...,NaN,87,24.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Trimbach 2012 Gewurztraminer (Alsace),Gewürztraminer,Trimbach
8,Germany,Savory dried thyme notes accent sunnier flavor...,Shine,87,12.0,Rheinhessen,NaN,NaN,Anna Lee C. Iijima,NaN,Heinz Eifel 2013 Shine Gewürztraminer (Rheinhe...,Gewürztraminer,Heinz Eifel
9,France,This has great depth of flavor with its fresh ...,Les Natures,87,27.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Jean-Baptiste Adam 2012 Les Natures Pinot Gris...,Pinot Gris,Jean-Baptiste Adam

In [14]:
# first 10 rows using .loc[]
wine.loc[:9, :]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87,15.0,Northern Spain,Navarra,NaN,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
7,France,This dry and restrained wine offers spice in p...,NaN,87,24.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Trimbach 2012 Gewurztraminer (Alsace),Gewürztraminer,Trimbach
8,Germany,Savory dried thyme notes accent sunnier flavor...,Shine,87,12.0,Rheinhessen,NaN,NaN,Anna Lee C. Iijima,NaN,Heinz Eifel 2013 Shine Gewürztraminer (Rheinhe...,Gewürztraminer,Heinz Eifel
9,France,This has great depth of flavor with its fresh ...,Les Natures,87,27.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Jean-Baptiste Adam 2012 Les Natures Pinot Gris...,Pinot Gris,Jean-Baptiste Adam

In [34]:
# filter to rows where region_1 is Willamette Valley using .query
(
    wine
      .query("region_1 == 'Willamette Valley'")   # filter to rows where region_1 equals Willamette Valley
      ['country']                                 # pull out country as a series
      .unique()                                   # unique values in country series
)

#wine.query("region_1 == 'Willamette Valley'")

array(['US'], dtype=object)

In [39]:
# repeat above without using .query()
(
    wine
      [(wine['region_1'] == 'Willamette Valley') &
       (wine['points'] >= 90)]
      #['country']
      #.unique()
)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
173,US,This wine is bursting with gorgeous cherry fru...,NaN,91,38.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Le Cadeau 2014 Pinot Noir (Willamette Valley),Pinot Noir,Le Cadeau
467,US,"Dense, dark and spicy, this opens with a thick...",Evenstad Reserve,92,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Domaine Serene 2010 Evenstad Reserve Pinot Noi...,Pinot Noir,Domaine Serene
522,US,"The Sims is amped up in 2014, dark and thick a...",Sims Vineyard,91,55.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rex Hill 2014 Sims Vineyard Pinot Noir (Willam...,Pinot Noir,Rex Hill
532,US,Scott Shull (Raptor Ridge) consults here. This...,Diversité,91,50.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Le Cadeau 2015 Diversité Pinot Noir (Willamett...,Pinot Noir,Le Cadeau
533,US,"Slightly liquorous when first opened, this pus...",Équinoxe,91,50.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Le Cadeau 2015 Équinoxe Pinot Noir (Willamette...,Pinot Noir,Le Cadeau
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129306,US,"This is sourced from old vines, and brings typ...",NaN,90,22.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Amity 2014 Riesling (Willamette Valley),Riesling,Amity
129663,US,Sourced from one of the finest vineyards in Or...,Shea Vineyard,93,60.0,Oregon,Willamette Valley,NaN,Paul Gregutt,@paulgwine,Winderlea 2014 Shea Vineyard Pinot Noir,Pinot Noir,Winderlea
129736,US,This has the pretty slightly candied flavors o...,NaN,90,22.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Black Magnolia 2015 Pinot Noir (Willamette Val...,Pinot Noir,Black Magnolia
129745,US,"Good grip is immediately apparent, along with ...",NaN,90,28.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Clay Pigeon 2013 Pinot Noir (Willamette Valley),Pinot Noir,Clay Pigeon
129746,US,Chewy and packed with flavors of dark chocolat...,Sunny Mountain Vineyard,90,55.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rex Hill 2014 Sunny Mountain Vineyard Pinot No...,Pinot Noir,Rex Hill

In [53]:
# average score per country
(
    wine
      .groupby('country')
      [['points']]
      .mean()
      #.index
      #.shape
      #.sort_values('points', ascending = False)
)

                           points
country
Argentina               86.710263
Armenia                 87.500000
Australia               88.580507
Austria                 90.101345
Bosnia and Herzegovina  86.500000
Brazil                  84.673077
Bulgaria                87.936170
Canada                  89.369650
Chile                   86.493515
China                   89.000000
Croatia                 87.219178
Cyprus                  87.181818
Czech Republic          87.250000
Egypt                   84.000000
England                 91.581081
France                  88.845109
Georgia                 87.686047
Germany                 89.851732
Greece                  87.283262
Hungary                 89.191781
India                   90.222222
Israel                  88.471287
Italy                   88.562231
Lebanon                 87.685714
Luxembourg              88.666667
Macedonia               86.833333
Mexico                  85.257143
Moldova                 87.203390
Morocco                 88.571429
New Zealand             88.303030
Peru                    83.562500
Portugal                88.250220
Romania                 86.400000
Serbia                  87.500000
Slovakia                87.000000
Slovenia                88.068966
South Africa            88.056388
Spain                   87.288337
Switzerland             88.571429
Turkey                  88.088889
US                      88.563720
Ukraine                 84.071429
Uruguay                 86.752294

In [56]:
# how many of each country
(
    wine
      .groupby('country')
      ['country']
      .count()
      .sort_values(ascending = False)
)

country
US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Macedonia                    12
Serbia                       12
Czech Republic               12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Armenia                       2
Bosnia and Herzegovina        2
China                         1
Slovakia                      1
Egypt                         1
Name: country, dtype: int64

In [57]:
wine.country

0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [58]:
wine['country'] # equivalent to the above

0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [65]:
# for each point, stats on price
(
    wine
      .groupby('points')
      ['price']
      .agg(['min', 'median', 'mean', 'max'])
      .reset_index()
      .sort_values(by = 'points', ascending = False)
)

    points   min  median        mean     max
20     100  80.0   359.0  485.947368  1500.0
19      99  44.0   243.5  284.214286   850.0
18      98  50.0   140.0  245.492754  1900.0
17      97  35.0   120.0  207.173913  2000.0
16      96  20.0    97.0  159.292531  2500.0
15      95  20.0    75.0  109.235420   973.0
14      94  13.0    63.0   81.436938  1125.0
13      93  12.0    52.0   63.112216   770.0
12      92  11.0    45.0   51.037763   750.0
11      91   7.0    38.0   43.224252  2013.0
10      90   8.0    30.0   36.906622   510.0
9       89   7.0    26.0   32.169640   500.0
8       88   6.0    24.0   28.687523  3300.0
7       87   5.0    20.0   24.901884   800.0
6       86   4.0    18.0   22.133759   170.0
5       85   4.0    16.0   19.949562   320.0
4       84   4.0    15.0   19.310215   225.0
3       83   4.0    15.0   18.237353   225.0
2       82   4.0    15.0   18.870767   150.0
1       81   5.0    14.0   17.182353   130.0
0       80   5.0    14.0   16.372152    69.0