<a href="https://colab.research.google.com/github/jack-cao-623/python_learning/blob/main/pandas_input_and_output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas input and output

In [5]:
# libraries needed
import numpy as np
import pandas as pd

## Pass a URL to pd.read_csv( )

In [6]:
baby_names = pd.read_csv(
    'https://data.cityofnewyork.us/api/views/25th-nujf/rows.csv'
)

baby_names.head()

   Year of Birth  Gender Ethnicity Child's First Name  Count  Rank
0           2011  FEMALE  HISPANIC          GERALDINE     13    75
1           2011  FEMALE  HISPANIC                GIA     21    67
2           2011  FEMALE  HISPANIC             GIANNA     49    42
3           2011  FEMALE  HISPANIC            GISELLE     38    51
4           2011  FEMALE  HISPANIC              GRACE     36    53

## Quick object conversions

In [7]:
# convert Series to DataFrame
baby_names["Child's First Name"].to_frame()

      Child's First Name
0              GERALDINE
1                    GIA
2                 GIANNA
3                GISELLE
4                  GRACE
...                  ...
49504               Nala
49505            Royalty
49506            Sariyah
49507             Simone
49508              Zahra

[49509 rows x 1 columns]

In [8]:
# convert Series to list
baby_names["Child's First Name"].tolist()

Output = None

In [9]:
# convert series to dictionary
baby_names["Child's First Name"].to_dict()

# remember that in a dictionary, keys must be unique
# our index values are each unique

Output = None

In [10]:
# get a string where names are de-duped, first letter capitalized, and sorted alphabetically
# each name is separated by a comma

first_name_series = (
   baby_names["Child's First Name"]
      .drop_duplicates()                   # keeps it as a Series, which .unique() doesn't
      .str.title()                         # capitalize first letter of each name
      .sort_values()                       # sort alphabetically
)

first_name_series

7922       Aahil
1111     Aaliyah
5944     Aaliyah
547        Aarav
8577       Aarav
          ...
6663        Zoya
7192        Zuri
1295        Zuri
39296     Zyaire
897       Zyaire
Name: Child's First Name, Length: 3211, dtype: object

In [11]:
# put a comma and space in between each element of the Series
", ".join(first_name_series)

"Aahil, Aaliyah, Aaliyah, Aarav, Aarav, Aaron, Aaron, Aarya, Aaryan, Aayan, Aayan, Aayat, Abby, Abby, Abdiel, Abdiel, Abdoul, Abdoul, Abdoulaye, Abdoulaye, Abdul, Abdul, Abdullah, Abdullah, Abdulloh, Abe, Abel, Abel, Abigail, Abigail, Aboubacar, Abraham, Abraham, Abrar, Abrielle, Abril, Abubakr, Ace, Ada, Ada, Adalynn, Adam, Adam, Adan, Adan, Addison, Addison, Adelaide, Adelaide, Adele, Adele, Adelina, Adeline, Adeline, Adelyn, Adelynn, Aden, Aden, Adiel, Adina, Adina, Aditya, Aditya, Adonis, Adonis, Adrian, Adrian, Adriana, Adriana, Adrianna, Adrianna, Adriel, Adriel, Adyan, Ahad, Aharon, Aharon, Ahmad, Ahmad, Ahmed, Ahmed, Ahnaf, Ahron, Ahron, Ahuva, Ahuva, Aicha, Aicha, Aidan, Aidan, Aiden, Aiden, Ailani, Aileen, Aileen, Aimee, Aimee, Aisha, Aisha, Aissata, Aissatou, Aissatou, Aitana, Aiza, Aiza, Aizah, Akiva, Akiva, Alahia, Alaia, Alaina, Alan, Alan, Alana, Alana, Alani, Alani, Alanis, Alanna, Alayna, Alba, Albert, Albert, Alberto, Alberto, Aldo, Aleah, Alec, Alec, Aleena, Aleena, Alejandra, Alejandra, Alejandro, Alejandro, Aleksander, Aleksandra, Alessandra, Alessandra, Alessandro, Alessia, Alessia, Alex, Alex, Alexa, Alexa, Alexander, Alexander, Alexandra, Alexandra, Alexandria, Alexandria, Alexia, Alexia, Alexis, Alexis, Alfred, Alfredo, Alfredo, Ali, Ali, Alia, Aliah, Alice, Alice, Alicia, Alicia, Alijah, Alina, Alina, Alisa, Alisa, Alisha, Alisha, Alison, Alison, Alissa, Alisson, Alisson, Aliya, Aliyah, Aliyah, Aliza, Aliza, Allan, Allan, Allen, Allen, Allison, Allison, Allyson, Allyson, Alma, Alma, Alondra, Alondra, Alonso, Alpha, Alpha, Alston, Alston, Alter, Alvin, Alvin, Alyson, Alyssa, Alyssa, Amadou, Amadou, Amaia, Amalia, Amalia, Amanda, Amanda, Amani, Amani, Amar'E, Amar'E, Amara, Amare, Amare, Amari, Amari, Amaya, Amaya, Amayah, Ambar, Amber, Amber, Amberly, Ameer, Amelia, Amelia, Amelie, Amelie, Amia, Amina, Amina, Aminata, Aminata, Amir, Amir, Amira, Amira, Amirah, Amirah, Amirjon, Amiya, Amiyah, Amiyah, Amora, Amrom, Amrom, Amy, Amy, Ana, Ana, Anabel, Anabella, Anabelle, Anabia, Anahi, Anais, Anais, Analia, Analia, Ananya, Anas, Anastasia, Anastasia, Anaya, Anaya, Anayah, Anderson, Anderson, Andre, Andre, Andrea, Andrea, Andres, Andres, Andrew, Andrew, Andy, Andy, Angel, Angel, Angela, Angela, Angelica, Angelica, Angelina, Angelina, Angeline, Angelique, Angelique, Angelo, Angelo, Angely, Angie, Angie, Angus, Anika, Anika, Anisa, Anisha, Aniya, Aniya, Aniyah, Aniyah, Anjali, Anna, Anna, Annabel, Annabel, Annabella, Annabelle, Annabelle, Annalise, Anne, Anne, Annie, Annie, Annika, Ansel, Anson, Anson, Anthony, Anthony, Anton, Antonella, Antonia, Antonia, Antonio, Antonio, Anya, Anya, April, April, Arabella, Archer, Archer, Arden, Arely, Arely, Arham, Ari, Ari, Aria, Aria, Ariadna, Ariadne, Ariah, Arian, Ariana, Ariana, Arianna, Arianna, Arianny, Arianny, Ariel, Ariel, Ariela, Ariella, Ariella, Arielle, Arielle, Arisha, Arisha, Ariyah, Arjun, Arjun, Arleth, Arlette, Arlo, Armaan, Armaan, Armando, Armando, Armani, Armani, Aron, Aron, Arthur, Arthur, Arturo, Arturo, Arvin, Arya, Arya, Aryan, Aryan, Arye, Aryeh, Aryeh, Asher, Asher, Ashley, Ashley, Ashly, Ashly, Ashton, Ashton, Asia, Astrid, Atara, Atara, Athena, Athena, Atticus, Aubree, Aubree, Aubrey, Aubrey, Audrey, Audrey, August, August, Augustus, Augustus, Aurelia, Aurora, Aurora, Austin, Austin, Autumn, Autumn, Ava, Ava, Avery, Avery, Avi, Avi, Aviel, Avigail, Avigail, Avital, Aviva, Aviva, Avraham, Avraham, Avril, Avrohom, Avrohom, Avrum, Avrum, Awa, Axel, Axel, Aya, Aya, Ayaan, Ayaan, Ayala, Ayan, Ayan, Ayanna, Ayat, Ayden, Ayden, Aydin, Ayelet, Ayesha, Ayesha, Ayla, Ayla, Ayleen, Ayleen, Aylin, Aylin, Ayra, Azaan, Azaria, Azariah, Aziza, Baila, Baila, Bailey, Barbara, Barbara, Baruch, Baruch, Basya, Batsheva, Batsheva, Batya, Batya, Beatrice, Beatrice, Beatrix, Beau, Beckett, Beckett, Belen, Bella, Bella, Ben, Ben, Benjamin, Benjamin, Bennett, Bennett, Benson, Benson, Bentzion, Bentzion, Benzion, Benzion, Berish, Berish, Berl, Bethany, Bianca, Bianca, Billie, Bina, Bintou, Bintou, Binyamin, Binyomin, Binyomin, Blair, Blake, Blake, Blessing, Blima, Blima, Blimy, Blimy, Bodhi, Bonnie, Bonnie, Boruch, Boruch, Boubacar, Boubacar, Bowen, Bracha, Bracha, Bradley, Bradley, Brady, Brady, Brandon, Brandon, Brayan, Brayan, Brayden, Brayden, Breindy, Breindy, Brenda, Brenda, Brendan, Brendan, Bria, Brian, Brian, Briana, Briana, Brianna, Brianna, Brianny, Brianny, Bridget, Bridget, Briella, Brielle, Brielle, Brigitte, Britney, Britney, Brittany, Brittany, Brody, Brody, Brooke, Brooke, Brooklyn, Brooklyn, Brooks, Bruce, Bruce, Brucha, Brucha, Bruchy, Bruchy, Bruno, Bryan, Bryan, Bryanna, Bryanna, Bryant, Bryant, Bryce, Bryce, Brynn, Brynn, Bryson, Bryson, Burech, Byron, Byron, Caden, Caden, Caiden, Cairo, Caitlin, Caitlin, Caleb, Caleb, Cali, Callie, Calvin, Calvin, Camden, Cameron, Cameron, Camila, Camila, Camilla, Camilla, Camille, Camille, Camilo, Camilo, Camren, Camren, Carina, Carla, Carlos, Carlos, Carly, Carmelo, Carmelo, Carmen, Carmen, Carmine, Carmine, Carolina, Carolina, Caroline, Caroline, Carson, Carson, Carter, Carter, Casey, Cassandra, Cassandra, Cassidy, Cataleya, Catalina, Catalina, Catherine, Catherine, Cayden, Cayden, Cecelia, Cecilia, Cecilia, Celeste, Celeste, Celia, Celia, Celine, Cesar, Cesar, Chace, Chad, Chad, Chaim, Chaim, Chana, Chana, Chance, Chance, Chanel, Chanie, Chany, Chany, Charles, Charles, Charlie, Charlie, Charlotte, Charlotte, Chase, Chase, Chava, Chava, Chavy, Chavy, Chaya, Chaya, Chelsea, Chelsea, Cheskel, Cheskel, Chesky, Chesky, Cheyenne, Chiara, Chloe, Chloe, Chris, Chris, Christian, Christian, Christina, Christina, Christine, Christine, Christopher, Christopher, Christy, Cindy, Cindy, Claire, Claire, Clara, Clara, Clark, Claudia, Clementine, Cleo, Cody, Cody, Cole, Cole, Colette, Colette, Colin, Colin, Colton, Connie, Connie, Connor, Connor, Conor, Conor, Cooper, Cooper, Cora, Cora, Corey, Corey, Cormac, Cristian, Cristian, Cristina, Cristofer, Cristopher, Cristopher, Crosby, Crystal, Crystal, Cynthia, Cynthia, Cyrus, Cyrus, Dahlia, Dahlia, Daisy, Daisy, Dakota, Dakota, Daleyza, Dalia, Dalia, Dallas, Damani, Damari, Damaris, Damian, Damian, Damien, Damien, Damon, Dana, Dana, Daniel, Daniel, Daniela, Daniela, Daniella, Daniella, Danielle, Danielle, Danna, Danna, Danny, Danny, Dante, Dante, Daphne, Daphne, Dara, Daria, Dariel, Dariel, Darius, Darius, Darren, Darren, Darwin, Darwin, Dashiell, Dashiell, David, David, Dayana, Dayana, Dean, Dean, Deborah, Deborah, Declan, Declan, Delilah, Delilah, Demi, Denis, Denise, Denisse, Dennis, Dennis, Denzel, Denzel, Dereck, Dereck, Derek, Derek, Derick, Derick, Derrick, Derrick, Desmond, Destiny, Destiny, Devin, Devin, Devoiry, Devon, Devora, Devora, Devorah, Devorah, Devory, Diana, Diana, Diego, Diego, Dilan, Dillon, Dina, Dina, Dion, Dior, Diya, Diya, Diyora, Dominic, Dominic, Dominick, Dominick, Donovan, Donovan, Doris, Doris, Dov, Dov, Dovid, Dovid, Dream, Drew, Drew, Dua, Dulce, Dulce, Duvid, Dwayne, Dylan, Dylan, Ean, Eason, Eason, Eddie, Eddie, Eddy, Eddy, Eden, Eden, Edgar, Edgar, Edison, Edison, Edith, Eduardo, Eduardo, Edward, Edward, Edwin, Edwin, Efraim, Efraim, Egypt, Egypt, Eileen, Eileen, Eitan, Eitan, Elaine, Elaine, Elan, Elan, Eleanor, Eleanor, Elena, Elena, Eleni, Eli, Eli, Eliam, Elian, Elian, Eliana, Eliana, Elianna, Elianna, Elianny, Elianny, Elias, Elias, Eliel, Eliezer, Eliezer, Elijah, Elijah, Elimelech, Elimelech, Elina, Elina, Eliot, Elisa, Elisa, Elise, Elise, Elisheva, Elisheva, Eliyahu, Eliyahu, Eliza, Eliza, Elizabeth, Elizabeth, Ella, Ella, Elle, Elle, Elliana, Elliana, Ellie, Ellie, Elliot, Elliot, Elliott, Elliott, Ellis, Ellis, Elodie, Eloise, Eloise, Elsa, Elsa, Eluzer, Eluzer, Elvin, Elvis, Elvis, Elya, Emaan, Emani, Emanuel, Emanuel, Emely, Emely, Emerson, Emerson, Emery, Emil, Emilia, Emilia, Emiliano, Emiliano, Emilio, Emilio, Emily, Emily, Emir, Emma, Emma, Emmanuel, Emmanuel, Emmanuella, Emmeline, Emmett, Emmett, Emmy, Empress, Enrique, Enrique, Enzo, Ephraim, Ephraim, Eric, Eric, Erica, Erica, Erick, Erick, Erik, Erik, Erika, Erika, Erin, Erin, Ermias, Eshaal, Eshal, Eshan, Esme, Esme, Esmeralda, Esmeralda, Essence, Esteban, Esteban, Estelle, Estelle, Ester, Ester, Esther, Esther, Estrella, Esty, Esty, Ethan, Ethan, Etty, Etty, Eunice, Eva, Eva, Evan, Evan, Evangeline, Evangeline, Eve, Eve, Evelina, Evelyn, Evelyn, Everett, Everett, Everly, Evie, Eyad, Ezekiel, Ezekiel, Ezequiel, Ezequiel, Ezra, Ezra, Ezriel, Ezriel, Fabian, Fabian, Faiga, Faiga, Faigy, Faigy, Faith, Faith, Fanta, Fanta, Farah, Farhan, Farhan, Farida, Fatima, Fatima, Fatou, Fatou, Fatoumata, Fatoumata, Felipe, Felix, Felix, Fernanda, Fernanda, Fernando, Fernando, Feynman, Filip, Filip, Finley, Finley, Finn, Finn, Finnegan, Fiona, Fiona, Fishel, Florence, Fradel, Fradel, Frady, Frady, Fraidy, Fraidy, Frances, Frances, Francesca, Francesca, Francesco, Francesco, Francis, Francisco, Francisco, Frank, Frank, Franklin, Franklin, Freddy, Frederick, Frederick, Freida, Freya, Frida, Frieda, Frimet, Frimet, Gabriel, Gabriel, Gabriela, Gabriela, Gabriella, Gabriella, Gabrielle, Gabrielle, Gael, Gael, Gaia, Galilea, Gary, Gavin, Gavin, Gavriel, Gavriel, Gemma, Gemma, Genesis, Genesis, Genevieve, Genevieve, George, George, Georgia, Georgia, Georgina, Geraldine, Gerard, Gerardo, Gerardo, Gia, Gia, Giada, Giancarlo, Gianluca, Gianna, Gianna, Gianni, Gideon, Giovani, Giovani, Giovanna, Giovanna, Giovanni, Giovanni, Giovanny, Giovanny, Giselle, Giselle, Gittel, Gittel, Gitty, Gitty, Giulia, Giulia, Giuliana, Giuliana, Giuseppe, Golda, Golda, Goldie, Goldy, Goldy, Gordon, Gordon, Grace, Grace, Graham, Graham, Grant, Grant, Grayson, Grayson, Gregory, Gregory, Greta, Greta, Grey, Greyson, Greyson, Griffin, Griffin, Guadalupe, Guadalupe, Gustavo, Gustavo, Guy, Gwendolyn, Hadassa, Hadassah, Hadassah, Hadley, Hadley, Hafsa, Hafsa, Hailey, Hailey, Hailie, Haley, Haley, Hamza, Hamza, Hana, Hana, Haniya, Hanley, Hanna, Hanna, Hannah, Hannah, Hao, Hareem, Hareem, Harley, Harlow, Harmony, Harmony, Harper, Harper, Harrison, Harrison, Harry, Harry, Harvey, Harvey, Hashim, Hassan, Hassan, Hawa, Hawa, Hayden, Hayden, Haylee, Haylee, Hayley, Hazel, Hazel, Heaven, Heaven, Heavenly, Hector, Hector, Heidi, Heidi, Heidy, Heidy, Helen, Helen, Helena, Helena, Henchy, Hendy, Henny, Henny, Henry, Henry, Herman, Hersh, Hersh, Hershel, Hershel, Hershy, Hershy, Hillel, Hinda, Hinda, Hindy, Hindy, Holden, Hoorain, Hope, Hudson, Hudson, Hugo, Hugo, Hunter, Hunter, Ian, Ian, Ibrahim, Ibrahim, Ibrahima, Ibrahima, Ibrohim, Idris, Idy, Idy, Iker, Iker, Ilan, Ilan, Ilana, Ilana, Imani, Imani, Imogen, Imona, Imran, Inaaya, Inaya, Ines, Ines, Ingrid, Irene, Irene, Iris, Iris, Isaac, Isaac, Isabel, Isabel, Isabela, Isabela, Isabella, Isabella, Isabelle, Isabelle, Isaiah, Isaiah, Isaias, Ishaan, Ishaan, Ishmael, Isiah, Isiah, Isis, Isis, Isla, Isla, Ismael, Ismael, Ismail, Israel, Israel, Issac, Issac, Itzel, Itzel, Ivaan, Ivan, Ivan, Ivanna, Ivanna, Ivy, Ivy, Iymona, Izabella, Izabella, Izaiah, Jabari, Jace, Jace, Jack, Jack, Jackson, Jackson, Jacky, Jacky, Jacob, Jacob, Jacqueline, Jacqueline, Jad, Jad, Jada, Jada, Jade, Jade, Jaden, Jaden, Jadiel, Jadiel, Jael, Jael, Jaelyn, Jaelyn, Jaelynn, Jaheim, Jaheim, Jahir, Jahmir, Jahmir, Jaiden, Jaiden, Jaime, Jaime, Jair, Jake, Jake, Jakob, Jakub, Jalen, Jalen, Jaliyah, Jaliyah, Jamal, Jamal, Jamar, Jamari, Jamari, Jamel, Jamel, James, James, Jameson, Jamie, Jamie, Jamir, Jamir, Jana, Jana, Janae, Jane, Jane, Janelle, Janelle, Janice, Janice, Janiel, Janiya, Janiya, Janiyah, Janiyah, Jannat, Jannat, Jannatul, Januel, Januel, Jared, Jared, Jariel, Jariel, Jasiah, Jasiah, Jaslene, Jaslene, Jaslyn, Jasmin, Jasmin, Jasmina, Jasmine, Jasmine, Jason, Jason, Jasper, Jasper, Javier, Javier, Jax, Jaxon, Jaxon, Jaxson, Jay, Jay, Jayce, Jayce, Jayceon, Jaycob, Jayda, Jayda, Jayden, Jayden, Jayla, Jayla, Jaylah, Jaylah, Jaylee, Jayleen, Jayleen, Jaylen, Jaylen, Jaylene, Jaylene, Jaylin, Jaylin, Jaylyn, Jayren, Jayson, Jayson, Jaziel, Jazlyn, Jazlyn, Jazmin, Jazmin, Jazmine, Jazmine, Jazzlyn, Jean, Jean, Jeancarlos, Jefferson, Jefferson, Jeffrey, Jeffrey, Jelani, Jencarlos, Jenna, Jenna, Jennifer, Jennifer, Jenny, Jenny, Jeremiah, Jeremiah, Jeremias, Jeremias, Jeremy, Jeremy, Jermaine, Jerry, Jerry, Jesse, Jesse, Jessica, Jessica, Jessie, Jessie, Jesus, Jesus, Jewel, Jia, Jimena, Jimena, Jimmy, Jimmy, Joanna, Joanna, Joaquin, Joaquin, Jocelyn, Jocelyn, Joel, Joel, Johan, Johan, Johann, Johann, Johanna, Johanna, John, John, Johnathan, Johnny, Johnny, Jolie, Jolie, Jolin, Jonael, Jonah, Jonah, Jonas, Jonas, Jonathan, Jonathan, Jordan, Jordan, Jordi, Jordyn, Jordyn, Jorge, Jorge, Jose, Jose, Josef, Joselyn, Joselyn, Joseph, Joseph, Josephine, Josephine, Joshua, Joshua, Josiah, Josiah, Josie, Josue, Josue, Journee, Journey, Joy, Joy, Joyce, Joyce, Joziah, Juan, Juan, Judah, Judah, Jude, Jude, Judy, Judy, Julia, Julia, Julian, Julian, Juliana, Juliana, Julianna, Julianna, Julie, Julie, Julien, Julien, Juliet, Juliet, Juliette, Juliette, Julio, Julio, Julissa, Julissa, Julius, Julius, Jun, June, June, Junior, Junior, Juniper, Justice, Justice, Justin, Justin, Kabir, Kacper, Kaden, Kaden, Kadiatou, Kaelyn, Kai, Kai, Kaia, Kaiden, Kaiden, Kailani, Kailee, Kailey, Kailey, Kailyn, Kailyn, Kairo, Kaitlyn, Kaitlyn, Kalani, Kaleb, Kaleb, Kali, Kaliyah, Kaliyah, Kamari, Kamari, Kameron, Kameron, Kamila, Kamila, Kamiyah, Kamiyah, Kamren, Karas, Kareem, Kareem, Karen, Karen, Karina, Karina, Karla, Karla, Karter, Kassandra, Kate, Kate, Katelyn, Katelyn, Katelynn, Katelynn, Katerina, Katherine, Katherine, Kathryn, Katie, Katie, Kaya, Kayden, Kayden, Kayla, Kayla, Kaylani, Kaylee, Kaylee, Kayleen, Kayleen, Kayleigh, Kaylie, Kaylie, Kaylin, Kaylin, Kayson, Kazi, Kehlani, Keila, Keily, Keily, Keira, Keira, Keith, Kelly, Kelly, Kelsey, Kelsey, Kelvin, Kelvin, Kendra, Kendra, Kendrick, Kennedi, Kennedy, Kennedy, Kenneth, Kenneth, Kenny, Kenny, Kenya, Kenzie, Kenzo, Kevin, Kevin, Keyla, Keyla, Khadija, Khadijah, Khaleesi, Khalil, Khalil, Khari, Khloe, Khloe, Kian, Kiara, Kiara, Kiera, Kieran, Kieran, Kimberly, Kimberly, Kimi, Kimora, Kimora, King, King, Kingsley, Kingsley, Kingston, Kingston, Kira, Kira, Kiyan, Kori, Kourtney, Krish, Krish, Kristen, Kristian, Kristian, Kristina, Krystal, Kyla, Kyla, Kyle, Kyle, Kylee, Kylee, Kylie, Kylie, Kymani, Kymani, Kyree, Kyrie, Kyro, Kyson, Laia, Laila, Laila, Lailah, Laith, Lamar, Lana, Lana, Landon, Landon, Lara, Lara, Larry, Laura, Laura, Lauren, Lauren, Lauryn, Lawrence, Lawrence, Layan, Layla, Layla, Lazer, Lazer, Lea, Lea, Leah, Leah, Leandro, Leandro, Leanna, Leela, Leela, Legend, Leia, Leibish, Leila, Leila, Leilani, Leilani, Leilany, Lena, Lena, Lennox, Lenny, Lenny, Leo, Leo, Leon, Leon, Leona, Leonard, Leonardo, Leonardo, Leonel, Leonel, Leonidas, Leora, Leora, Lesley, Leslie, Leslie, Lesly, Lesly, Lev, Lev, Levi, Levi, Leyla, Leyla, Lia, Lia, Liah, Liam, Liam, Lian, Liana, Liana, Lianna, Liba, Liba, Libby, Libby, Lielle, Lila, Lila, Lilah, Lilah, Lilia, Lilian, Liliana, Liliana, Lillian, Lillian, Lilliana, Lilly, Lilly, Lily, Lily, Lina, Lina, Lincoln, Linda, Linda, Lindsay, Lindsay, Lionel, Liora, Lipa, Lipa, Lisa, Litzy, Litzy, Liv, Liv, Livia, Livia, Liyana, Liz, Lizbeth, Lizbeth, Lizeth, Logan, Logan, Lola, Lola, London, London, Londyn, Londyn, Lorenzo, Lorenzo, Louis, Louis, Louisa, Louisa, Louise, Luca, Luca, Lucas, Lucas, Lucia, Lucia, Lucian, Luciana, Lucien, Lucille, Lucy, Lucy, Luis, Luis, Luka, Luka, Lukas, Lukas, Luke, Luke, Luna, Luna, Luz, Luz, Lyanna, Lydia, Lydia, Lyla, Lyla, Lyric, Lyric, Mabel, Mackenzie, Mackenzie, Maddox, Madeleine, Madeleine, Madeline, Madeline, Madelyn, Madelyn, Madina, Madison, Madison, Madisyn, Mae, Mae, Maeve, Maeve, Magaly, Maggie, Maggie, Mahamadou, Mahamadou, Mahnoor, Maia, Maimouna, Maisie, Maison, Maite, Major, Makai, Makai, Makayla, Makayla, Makenzie, Makhi, Maksim, Malachi, Malachi, Malak, Malak, Malaysia, Malcolm, Malcolm, Malek, Malia, Malia, Maliha, Malik, Malik, Malika, Maliyah, Maliyah, Malka, Malka, Malky, Malky, Mamadou, Mamadou, Mandy, Mandy, Manha, Manha, Manuel, Manuel, Marc, Marc, Marcel, Marcelo, Marco, Marco, Marcos, Marcos, Marcus, Marcus, Margaret, Margaret, Margaux, Margot, Margot, Maria, Maria, Mariah, Mariah, Mariam, Mariam, Mariama, Mariama, Mariana, Mariana, Marie, Marielle, Marilyn, Marilyn, Marina, Marina, Mario, Mario, Marisol, Marjorie, Mark, Mark, Marley, Marlon, Marlon, Marlowe, Marquis, Martin, Martin, Marvin, Marvin, Mary, Mary, Maryam, Maryam, Mason, Mason, Massimo, Mateo, Mateo, Mathew, Mathew, Mathias, Mathias, Matias, Matias, Matilda, Matilda, Matteo, Matteo, Matthew, Matthew, Matthias, Maurice, Mauricio, Mauricio, Maverick, Max, Max, Maxim, Maxim, Maximilian, Maximilian, Maximiliano, Maximiliano, Maximo, Maximo, Maximus, Maximus, Maxwell, Maxwell, Maya, Maya, Mayar, Mayer, Mayer, Mayson, Mckenzie, Mckenzie, Mckenzie, Md, Mechel, Meera, Megan, Megan, Meghan, Meilech, Meilech, Meir, Meir, Meira, Mekhi, Mekhi, Melania, Melanie, Melanie, Melany, Melany, Melina, Melina, Melissa, Melissa, Melody, Melody, Melvin, Melvin, Menachem, Menachem, Menashe, Menashe, Mendel, Mendel, Mendy, Mendy, Menucha, Meshilem, Messiah, Messiah, Meyer, Meyer, Mia, Mia, Miah, Miah, Micaela, Micah, Micah, Michael, Michael, Michaela, Michaela, Michal, Michal, Michelle, Michelle, Miguel, Miguel, Mika, Mikael, Mikaela, Mikaela, Mikayla, Mikayla, Mike, Mike, Mila, Mila, Milagros, Milan, Milan, Milana, Milani, Milania, Milena, Milena, Miles, Miles, Miley, Miley, Millie, Milo, Milo, Mina, Mina, Mindy, Mindy, Mira, Miracle, Miracle, Miranda, Miranda, Mirel, Mirel, Miri, Miri, Miriam, Miriam, Misael, Miya, Mohamed, Mohamed, Mohammad, Mohammad, Mohammed, Mohammed, Moises, Moises, Moishe, Moishe, Moishy, Mollie, Molly, Molly, Monica, Monserrat, Montserrat, Mordche, Mordechai, Mordechai, Morgan, Morgan, Morris, Morris, Moses, Moses, Moshe, Moshe, Motty, Mouhamed, Moussa, Moussa, Muhammad, Muhammad, Muhammad Ali, Muntaha, Musa, Musa, Mushka, Muslima, Mustafa, Mustafa, Mya, Mya, Myles, Myles, Myra, Nabiha, Nachman, Nachman, Nadia, Nadia, Naftali, Naftali, Naftuli, Naftuli, Nahla, Nahla, Nailah, Nala, Nalani, Nana, Nancy, Naomi, Naomi, Nashla, Nashley, Nashly, Nasir, Nasir, Natalia, Natalia, Natalie, Natalie, Nataly, Natasha, Natasha, Nathalia, Nathalia, Nathalie, Nathalie, Nathaly, Nathaly, Nathan, Nathan, Nathanael, Nathanael, Nathaniel, Nathaniel, Nava, Nayeli, Nayeli, Nayla, Nazir, Nechama, Nechama, Nehemiah, Nehemiah, Neil, Neil, Nelson, Nelson, Nevaeh, Nevaeh, Neymar, Neymar, Nia, Nia, Niam, Nicholas, Nicholas, Nico, Nico, Nicolas, Nicolas, Nicole, Nicole, Nicolette, Nicolette, Nigel, Nikhil, Nikita, Nikita, Nikolai, Nikolas, Nikolas, Nina, Nina, Noa, Noa, Noach, Noah, Noah, Noam, Noam, Noel, Noel, Noelle, Noemi, Noemi, Nolan, Nolan, Noor, Noor, Nora, Nora, Norah, Nosson, Nosson, Nova, Nuchem, Nusrat, Nyah, Nyla, Nyla, Nylah, Nylah, Olive, Olive, Oliver, Oliver, Olivia, Olivia, Olympia, Omar, Omar, Omari, Omari, Ophelia, Oren, Ori, Orion, Orlando, Orly, Oscar, Oscar, Oskar, Otis, Otto, Oumar, Oumar, Oumou, Oumou, Ousmane, Ousmane, Owen, Owen, Pablo, Pablo, Paige, Paige, Paloma, Pamela, Paola, Paris, Paris, Parizoda, Parker, Parker, Patrick, Patrick, Paul, Paul, Paula, Paula, Payton, Pearl, Pearl, Pedro, Pedro, Penelope, Penelope, Perel, Perel, Peretz, Perl, Perl, Perla, Perla, Perry, Perry, Pessy, Pessy, Peter, Peter, Peyton, Peyton, Philip, Philip, Phoebe, Phoebe, Phoenix, Phoenix, Pierce, Pinchas, Pinchas, Pinchus, Pinchus, Piper, Piper, Polina, Poppy, Precious, Preston, Preston, Prince, Prince, Princess, Princess, Princeton, Priscilla, Queena, Queenie, Queenie, Quincy, Quincy, Quinn, Quinn, Rachel, Rachel, Rafael, Rafael, Rahaf, Raina, Raina, Raizel, Raizel, Raizy, Raizy, Ralph, Randy, Randy, Raphael, Raphael, Raquel, Raquel, Raul, Raul, Raya, Rayan, Rayan, Raymond, Raymond, Rayna, Rayyan, Rayyan, Reagan, Reagan, Rebecca, Rebecca, Reed, Reed, Reem, Reem, Reese, Reese, Rehan, Rehan, Reid, Reid, Reign, Reina, R

In [12]:
# whatever is in quotes to the left of .join() method, put that in between each element of list or series
# above is a series inside .join()
# below is a list inside .join()
' | '.join(['a', 'b', 'c'])

'a | b | c'

## df.to_csv( ) method
- reverse of pd.read_csv( ) *italicized text*

In [13]:
baby_names.to_csv('baby_names.csv')

# where did this .csv file go?
# on your virtual machine
# click on file icon on left, then you'll see it

In [14]:
# by default, index = True, which includes the index in the .csv file
# change to index = False if you don't want the index

In [15]:
# also a columns = [...] parameter
# argument is a list of column names you want to include

In [16]:
# encoding = 'utf-8'
# if you get an encoding error

## installing excel libraries

In [17]:
!pip freeze

absl-py==1.3.0
aeppl==0.0.33
aesara==2.7.9
aiohttp==3.8.3
aiosignal==1.3.1
alabaster==0.7.12
albumentations==1.2.1
altair==4.2.0
appdirs==1.4.4
arviz==0.12.1
astor==0.8.1
astropy==4.3.1
astunparse==1.6.3
async-timeout==4.0.2
atari-py==0.2.9
atomicwrites==1.4.1
attrs==22.2.0
audioread==3.0.0
autograd==1.5
Babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.6.3
bleach==5.0.1
blis==0.7.9
bokeh==2.3.3
branca==0.6.0
bs4==0.0.1
CacheControl==0.12.11
cachetools==5.2.0
catalogue==2.0.8
certifi==2022.12.7
cffi==1.15.1
cftime==1.6.2
chardet==4.0.0
charset-normalizer==2.1.1
click==7.1.2
clikit==0.6.2
cloudpickle==1.5.0
cmake==3.22.6
cmdstanpy==1.0.8
colorcet==3.0.1
colorlover==0.3.0
community==1.0.0b1
confection==0.0.3
cons==0.4.5
contextlib2==0.5.5
convertdate==2.4.0
crashtest==0.3.1
crcmod==1.7
cufflinks==0.17.3
cvxopt==1.3.0
cvxpy==1.2.2
cycler==0.11.0
cymem==2.0.7
Cython==0.29.32
daft==0.0.4
dask==2022.2.1
datascience==0.17.5
db-dtypes==1.0.5
debugpy==1.0.0
decorator==4.4.2
defusedxml==0.7.1
descartes==1.1.0
dill==0.3.6
distributed==2022.2.1
dlib==19.24.0
dm-tree==0.1.8
dnspython==2.2.1
docutils==0.17.1
dopamine-rl==1.0.5
earthengine-api==0.1.335
easydict==1.10
ecos==2.0.11
editdistance==0.5.3
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl
entrypoints==0.4
ephem==4.1.4
et-xmlfile==1.1.0
etils==0.9.0
etuples==0.3.8
fa2==0.3.5
fastai==2.7.10
fastcore==1.5.27
fastdownload==0.0.7
fastdtw==0.3.4
fastjsonschema==2.16.2
fastprogress==1.0.3
fastrlock==0.8.1
feather-format==0.4.1
filelock==3.8.2
firebase-admin==5.3.0
fix-yahoo-finance==0.0.22
Flask==1.1.4
flatbuffers==1.12
folium==0.12.1.post1
frozenlist==1.3.3
fsspec==2022.11.0
future==0.16.0
gast==0.4.0
GDAL==2.2.3
gdown==4.4.0
gensim==3.6.0
geographiclib==1.52
geopy==1.17.0
gin-config==0.5.0
glob2==0.7
google==2.0.3
google-api-core==2.11.0
google-api-python-client==2.70.0
google-auth==2.15.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-bigquery==3.4.1
google-cloud-bigquery-storage==2.17.0
google-cloud-core==2.3.2
google-cloud-datastore==2.11.0
google-cloud-firestore==2.7.3
google-cloud-language==2.6.1
google-cloud-storage==2.7.0
google-cloud-translate==3.8.4
google-colab @ file:///colabtools/dist/google-colab-1.0.0.tar.gz
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.4.0
googleapis-common-protos==1.57.0
googledrivedownloader==0.4
graphviz==0.10.1
greenlet==2.0.1
grpcio==1.51.1
grpcio-status==1.48.2
gspread==3.4.2
gspread-dataframe==3.0.8
gym==0.25.2
gym-notices==0.0.8
h5py==3.1.0
HeapDict==1.0.1
hijri-converter==2.2.4
holidays==0.17.2
holoviews==1.14.9
html5lib==1.0.1
httpimport==0.5.18
httplib2==0.17.4
httpstan==4.6.1
humanize==0.5.1
hyperopt==0.1.2
idna==2.10
imageio==2.9.0
imagesize==1.4.1
imbalanced-learn==0.8.1
imblearn==0.0
imgaug==0.4.0
importlib-metadata==5.2.0
importlib-resources==5.10.1
imutils==0.5.4
inflect==2.1.0
intel-openmp==2023.0.0
intervaltree==2.1.0
ipykernel==5.3.4
ipython==7.9.0
ipython-genutils==0.2.0
ipython-sql==0.3.9
ipywidgets==7.7.1
itsdangerous==1.1.0
jax==0.3.25
jaxlib @ https://storage.googleapis.com/jax-releases/cuda11/jaxlib-0.3.25+cuda11.cudnn805-cp38-cp38-manylinux2014_x86_64.whl
jieba==0.42.1
Jinja2==2.11.3
joblib==1.2.0
jpeg4py==0.1.4
jsonschema==4.3.3
jupyter-client==6.1.12
jupyter-console==6.1.0
jupyter_core==5.1.1
jupyterlab-widgets==3.0.5
kaggle==1.5.12
kapre==0.3.7
keras==2.9.0
Keras-Preprocessing==1.1.2
keras-vis==0.4.1
kiwisolver==1.4.4
korean-lunar-calendar==0.3.1
langcodes==3.3.0
libclang==14.0.6
librosa==0.8.1
lightgbm==2.2.3
llvmlite==0.39.1
lmdb==0.99
locket==1.0.0
logical-unification==0.4.5
LunarCalendar==0.0.9
lxml==4.9.2
Markdown==3.4.1
MarkupSafe==2.0.1
marshmallow==3.19.0
matplotlib==3.2.2
matplotlib-venn==0.11.7
miniKanren==1.0.3
missingno==0.5.1
mistune==0.8.4
mizani==0.7.3
mkl==2019.0
mlxtend==0.14.0
more-itertools==9.0.0
moviepy==0.2.3.5
mpmath==1.2.1
msgpack==1.0.4
multidict==6.0.3
multipledispatch==0.6.0
multitasking==0.0.11
murmurhash==1.0.9
music21==5.5.0
natsort==5.5.0
nbconvert==5.6.1
nbformat==5.7.1
netCDF4==1.6.2
networkx==2.8.8
nibabel==3.0.2
nltk==3.7
notebook==5.7.16
numba==0.56.4
numexpr==2.8.4
numpy==1.21.6
oauth2client==4.1.3
oauthlib==3.2.2
okgrade==0.4.3
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
opencv-python-headless==4.6.0.66
openpyxl==3.0.10
opt-einsum==3.3.0
osqp==0.6.2.post0
packaging==21.3
palettable==3.3.0
pandas==1.3.5
pandas-datareader==0.9.0
pandas-gbq==0.17.9
pandas-profiling==1.4.1
pandocfilters==1.5.0
panel==0.12.1
param==1.12.3
parso==0.8.3
partd==1.3.0
pastel==0.2.1
pathlib==1.0.1
pathy==0.10.1
patsy==0.5.3
pep517==0.13.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
pip-tools==6.6.2
platformdirs==2.6.0
plotly==5.5.0
plotnine==0.8.0
pluggy==0.7.1
pooch==1.6.0
portpicker==1.3.9
prefetch-generator==1.0.3
preshed==3.0.8
prettytable==3.5.0
progressbar2==3.38.0
prometheus-client==0.15.0
promise==2.3
prompt-toolkit==2.0.10
prophet==1.1.1
proto-plus==1.22.1
protobuf==3.19.6
psutil==5.4.8
psycopg2==2.9.5
ptyprocess==0.7.0
py==1.11.0
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.6
pycparser==2.21
pyct==0.4.8
pydantic==1.10.2
pydata-google-auth==1.4.0
pydot==1.3.0
pydot-ng==2.0.0
pydotplus==2.0.2
PyDrive==1.3.1
pyemd==0.5.1
pyerfa==2.0.0.1
Pygments==2.6.1
PyGObject==3.26.1
pylev==1.4.0
pymc==4.1.4
PyMeeus==0.5.12
pymongo==4.3.3
pymystem3==0.2.0
PyOpenGL==3.1.6
pyparsing==3.0.9
pyrsistent==0.19.2
pysimdjson==3.2.0
pysndfile==1.3.8
PySocks==1.7.1
pystan==3.3.0
pytest==3.6.4
python-apt==0.0.0
python-dateutil==2.8.2
python-louvain==0.16
python-slugify==7.0.0
python-utils==3.4.5
pytz==2022.7
pyviz-comms==2.2.1
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==23.2.1
qdldl==0.1.5.post2
qudida==0.0.4
regex==2022.6.2
requests==2.25.1
requests-oauthlib==1.3.1
resampy==0.4.2
rpy2==3.5.5
rsa==4.9
scikit-image==0.18.3
scikit-learn==1.0.2
scipy==1.7.3
screen-resolution-extra==0.0.0
scs==3.2.2
seaborn==0.11.2
Send2Trash==1.8.0
setuptools-git==1.2
shapely==2.0.0
six==1.15.0
sklearn-pandas==1.8.0
smart-open==6.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soundfile==0.11.0
spacy==3.4.4
spacy-legacy==3.0.10
spacy-loggers==1.0.4
Sphinx==1.8.6
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
SQLAlchemy==1.4.45
sqlparse==0.4.3
srsly==2.4.5
statsmodels==0.12.2
sympy==1.7.1
tables==3.7.0
tabulate==0.8.10
tblib==1.7.0
tenacity==8.1.0
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.2
tensorflow-datasets==4.6.0
tensorflow-estimator==2.9.0
tensorflow-gcs-config==2.9.1
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.29.0
tensorflow-metadata==1.12.0
tensorflow-probability==0.17.0
termcolor==2.1.1
terminado==0.13.3
testpath==0.6.0
text-unidecode==1.3
textblob==0.15.3
thinc==8.1.6
threadpoolctl==3.1.0
tifffile==2022.10.10
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch @ https://download.pytorch.org/whl/cu116/torch-1.13.0%2Bcu116-cp38-cp38-linux_x86_64.whl
torchaudio @ https://download.pytorch.org/whl/cu116/torchaudio-0.13.0%2Bcu116-cp38-cp38-linux_x86_64.whl
torchsummary==1.5.1
torchtext==0.14.0
torchvision @ https://download.pytorch.org/whl/cu116/torchvision-0.14.0%2Bcu116-cp38-cp38-linux_x86_64.whl
tornado==6.0.4
tqdm==4.64.1
traitlets==5.7.1
tweepy==3.10.0
typeguard==2.7.1
typer==0.7.0
typing_extensions==4.4.0
tzlocal==1.5.1
uritemplate==4.1.1
urllib3==1.24.3
vega-datasets==0.9.0
wasabi==0.10.1
wcwidth==0.2.5
webargs==8.2.0
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.6.1
wordcloud==1.8.2.2
wrapt==1.14.1
xarray==2022.12.0
xarray-einstats==0.4.0
xgboost==0.90
xkit==0.0.0
xlrd==1.2.0
xlwt==1.3.0
yarl==1.8.2
yellowbrick==1.5
zict==2.2.0
zipp==3.11.0

In [18]:
# we have xlrd
# we also have openpyxl

## pd.read_excel( ) method

In [19]:
import requests

In [28]:
# need to use raw URL
excel_url = 'https://github.com/jack-cao-623/python_learning/blob/main/pandas/Data%20-%20Single%20Worksheet.xlsx?raw=true'

# from requests library
myfile = requests.get(excel_url)

# pd.read_excel() method
df_xlsx = pd.read_excel(myfile.content)

# entire dataframe
df_xlsx

  First Name Last Name           City Gender
0    Brandon     James          Miami      M
1       Sean   Hawkins         Denver      M
2       Judy       Day    Los Angeles      F
3     Ashley      Ruiz  San Francisco      F
4  Stephanie     Gomez       Portland      F

In [31]:
# to import an excel file with multiple sheets, which are 0-indexed
# provide sheet index position or sheet name

excel_url_multiple_sheets = 'https://github.com/jack-cao-623/python_learning/blob/main/pandas/Data%20-%20Multiple%20Worksheets.xlsx?raw=true'

myfile2 = requests.get(excel_url_multiple_sheets)

df_xlsx2 = pd.read_excel(myfile2.content, sheet_name = 0)    # sheet_name paramter to target a particular sheet to read in

df_xlsx2

  First Name Last Name           City Gender
0    Brandon     James          Miami      M
1       Sean   Hawkins         Denver      M
2       Judy       Day    Los Angeles      F
3     Ashley      Ruiz  San Francisco      F
4  Stephanie     Gomez       Portland      F

In [33]:
# can also provide list of index positions
data = pd.read_excel(myfile2.content, sheet_name = [0, 1]) # first two sheets, index positions; can also be names of sheets, so they become keys in dictionary

# this is a dictionary
type(data)

dict

In [34]:
data

{0:   First Name Last Name           City Gender
 0    Brandon     James          Miami      M
 1       Sean   Hawkins         Denver      M
 2       Judy       Day    Los Angeles      F
 3     Ashley      Ruiz  San Francisco      F
 4  Stephanie     Gomez       Portland      F,
 1:   First Name Last Name           City Gender
 0     Parker     Power        Raleigh      F
 1    Preston  Prescott   Philadelphia      F
 2    Ronaldo   Donaldo         Bangor      M
 3      Megan   Stiller  San Francisco      M
 4     Bustin    Jieber         Austin      F}

In [35]:
# sheet index positions, 0 and 1, are keys
# values are respective dataframes

# value corresponding to key 0
data[0]

  First Name Last Name           City Gender
0    Brandon     James          Miami      M
1       Sean   Hawkins         Denver      M
2       Judy       Day    Los Angeles      F
3     Ashley      Ruiz  San Francisco      F
4  Stephanie     Gomez       Portland      F

In [36]:
# value corresponding to key 1
data[1]

  First Name Last Name           City Gender
0     Parker     Power        Raleigh      F
1    Preston  Prescott   Philadelphia      F
2    Ronaldo   Donaldo         Bangor      M
3      Megan   Stiller  San Francisco      M
4     Bustin    Jieber         Austin      F

In [37]:
# import every single worksheet
pd.read_excel(myfile2.content, sheet_name = None)    # when sheet_name is None, then import all sheets

# save above as a variable, which will be a dictionary
  # keys are sheet names, in this case, 'Data 1' and 'Data 2'
  # values are DataFrames

{'Data 1':   First Name Last Name           City Gender
 0    Brandon     James          Miami      M
 1       Sean   Hawkins         Denver      M
 2       Judy       Day    Los Angeles      F
 3     Ashley      Ruiz  San Francisco      F
 4  Stephanie     Gomez       Portland      F,
 'Data 2':   First Name Last Name           City Gender
 0     Parker     Power        Raleigh      F
 1    Preston  Prescott   Philadelphia      F
 2    Ronaldo   Donaldo         Bangor      M
 3      Megan   Stiller  San Francisco      M
 4     Bustin    Jieber         Austin      F}

## to_excel( ) method