<a href="https://colab.research.google.com/github/jack-cao-623/python_learning/blob/main/pandas_input_and_output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas input and output

In [2]:
# libraries needed
import numpy as np
import pandas as pd

## Pass a URL to pd.read_csv( )

In [4]:
baby_names = pd.read_csv(
    'https://data.cityofnewyork.us/api/views/25th-nujf/rows.csv'
)

baby_names.head()

   Year of Birth  Gender Ethnicity Child's First Name  Count  Rank
0           2011  FEMALE  HISPANIC          GERALDINE     13    75
1           2011  FEMALE  HISPANIC                GIA     21    67
2           2011  FEMALE  HISPANIC             GIANNA     49    42
3           2011  FEMALE  HISPANIC            GISELLE     38    51
4           2011  FEMALE  HISPANIC              GRACE     36    53

## Quick object conversions

In [10]:
# convert Series to DataFrame
baby_names["Child's First Name"].to_frame()

      Child's First Name
0              GERALDINE
1                    GIA
2                 GIANNA
3                GISELLE
4                  GRACE
...                  ...
49504               Nala
49505            Royalty
49506            Sariyah
49507             Simone
49508              Zahra

[49509 rows x 1 columns]

In [7]:
# convert Series to list
baby_names["Child's First Name"].tolist()

Output = None

In [9]:
# convert series to dictionary
baby_names["Child's First Name"].to_dict()

# remember that in a dictionary, keys must be unique
# our index values are each unique

Output = None

In [23]:
# get a string where names are de-duped, first letter capitalized, and sorted alphabetically
# each name is separated by a comma

first_name_series = (
   baby_names["Child's First Name"]
      .drop_duplicates()                   # keeps it as a Series, which .unique() doesn't
      .str.title()                         # capitalize first letter of each name
      .sort_values()                       # sort alphabetically
)

first_name_series

7922       Aahil
1111     Aaliyah
5944     Aaliyah
547        Aarav
8577       Aarav
          ...
6663        Zoya
7192        Zuri
1295        Zuri
39296     Zyaire
897       Zyaire
Name: Child's First Name, Length: 3211, dtype: object

In [24]:
# put a comma and space in between each element of the Series
", ".join(first_name_series)

"Aahil, Aaliyah, Aaliyah, Aarav, Aarav, Aaron, Aaron, Aarya, Aaryan, Aayan, Aayan, Aayat, Abby, Abby, Abdiel, Abdiel, Abdoul, Abdoul, Abdoulaye, Abdoulaye, Abdul, Abdul, Abdullah, Abdullah, Abdulloh, Abe, Abel, Abel, Abigail, Abigail, Aboubacar, Abraham, Abraham, Abrar, Abrielle, Abril, Abubakr, Ace, Ada, Ada, Adalynn, Adam, Adam, Adan, Adan, Addison, Addison, Adelaide, Adelaide, Adele, Adele, Adelina, Adeline, Adeline, Adelyn, Adelynn, Aden, Aden, Adiel, Adina, Adina, Aditya, Aditya, Adonis, Adonis, Adrian, Adrian, Adriana, Adriana, Adrianna, Adrianna, Adriel, Adriel, Adyan, Ahad, Aharon, Aharon, Ahmad, Ahmad, Ahmed, Ahmed, Ahnaf, Ahron, Ahron, Ahuva, Ahuva, Aicha, Aicha, Aidan, Aidan, Aiden, Aiden, Ailani, Aileen, Aileen, Aimee, Aimee, Aisha, Aisha, Aissata, Aissatou, Aissatou, Aitana, Aiza, Aiza, Aizah, Akiva, Akiva, Alahia, Alaia, Alaina, Alan, Alan, Alana, Alana, Alani, Alani, Alanis, Alanna, Alayna, Alba, Albert, Albert, Alberto, Alberto, Aldo, Aleah, Alec, Alec, Aleena, Aleena, Alejandra, Alejandra, Alejandro, Alejandro, Aleksander, Aleksandra, Alessandra, Alessandra, Alessandro, Alessia, Alessia, Alex, Alex, Alexa, Alexa, Alexander, Alexander, Alexandra, Alexandra, Alexandria, Alexandria, Alexia, Alexia, Alexis, Alexis, Alfred, Alfredo, Alfredo, Ali, Ali, Alia, Aliah, Alice, Alice, Alicia, Alicia, Alijah, Alina, Alina, Alisa, Alisa, Alisha, Alisha, Alison, Alison, Alissa, Alisson, Alisson, Aliya, Aliyah, Aliyah, Aliza, Aliza, Allan, Allan, Allen, Allen, Allison, Allison, Allyson, Allyson, Alma, Alma, Alondra, Alondra, Alonso, Alpha, Alpha, Alston, Alston, Alter, Alvin, Alvin, Alyson, Alyssa, Alyssa, Amadou, Amadou, Amaia, Amalia, Amalia, Amanda, Amanda, Amani, Amani, Amar'E, Amar'E, Amara, Amare, Amare, Amari, Amari, Amaya, Amaya, Amayah, Ambar, Amber, Amber, Amberly, Ameer, Amelia, Amelia, Amelie, Amelie, Amia, Amina, Amina, Aminata, Aminata, Amir, Amir, Amira, Amira, Amirah, Amirah, Amirjon, Amiya, Amiyah, Amiyah, Amora, Amrom, Amrom, Amy, Amy, Ana, Ana, Anabel, Anabella, Anabelle, Anabia, Anahi, Anais, Anais, Analia, Analia, Ananya, Anas, Anastasia, Anastasia, Anaya, Anaya, Anayah, Anderson, Anderson, Andre, Andre, Andrea, Andrea, Andres, Andres, Andrew, Andrew, Andy, Andy, Angel, Angel, Angela, Angela, Angelica, Angelica, Angelina, Angelina, Angeline, Angelique, Angelique, Angelo, Angelo, Angely, Angie, Angie, Angus, Anika, Anika, Anisa, Anisha, Aniya, Aniya, Aniyah, Aniyah, Anjali, Anna, Anna, Annabel, Annabel, Annabella, Annabelle, Annabelle, Annalise, Anne, Anne, Annie, Annie, Annika, Ansel, Anson, Anson, Anthony, Anthony, Anton, Antonella, Antonia, Antonia, Antonio, Antonio, Anya, Anya, April, April, Arabella, Archer, Archer, Arden, Arely, Arely, Arham, Ari, Ari, Aria, Aria, Ariadna, Ariadne, Ariah, Arian, Ariana, Ariana, Arianna, Arianna, Arianny, Arianny, Ariel, Ariel, Ariela, Ariella, Ariella, Arielle, Arielle, Arisha, Arisha, Ariyah, Arjun, Arjun, Arleth, Arlette, Arlo, Armaan, Armaan, Armando, Armando, Armani, Armani, Aron, Aron, Arthur, Arthur, Arturo, Arturo, Arvin, Arya, Arya, Aryan, Aryan, Arye, Aryeh, Aryeh, Asher, Asher, Ashley, Ashley, Ashly, Ashly, Ashton, Ashton, Asia, Astrid, Atara, Atara, Athena, Athena, Atticus, Aubree, Aubree, Aubrey, Aubrey, Audrey, Audrey, August, August, Augustus, Augustus, Aurelia, Aurora, Aurora, Austin, Austin, Autumn, Autumn, Ava, Ava, Avery, Avery, Avi, Avi, Aviel, Avigail, Avigail, Avital, Aviva, Aviva, Avraham, Avraham, Avril, Avrohom, Avrohom, Avrum, Avrum, Awa, Axel, Axel, Aya, Aya, Ayaan, Ayaan, Ayala, Ayan, Ayan, Ayanna, Ayat, Ayden, Ayden, Aydin, Ayelet, Ayesha, Ayesha, Ayla, Ayla, Ayleen, Ayleen, Aylin, Aylin, Ayra, Azaan, Azaria, Azariah, Aziza, Baila, Baila, Bailey, Barbara, Barbara, Baruch, Baruch, Basya, Batsheva, Batsheva, Batya, Batya, Beatrice, Beatrice, Beatrix, Beau, Beckett, Beckett, Belen, Bella, Bella, Ben, Ben, Benjamin, Benjamin, Bennett, Bennett, Benson, Benson, Bentzion, Bentzion, Benzion, Benzion, Berish, Berish, Berl, Bethany, Bianca, Bianca, Billie, Bina, Bintou, Bintou, Binyamin, Binyomin, Binyomin, Blair, Blake, Blake, Blessing, Blima, Blima, Blimy, Blimy, Bodhi, Bonnie, Bonnie, Boruch, Boruch, Boubacar, Boubacar, Bowen, Bracha, Bracha, Bradley, Bradley, Brady, Brady, Brandon, Brandon, Brayan, Brayan, Brayden, Brayden, Breindy, Breindy, Brenda, Brenda, Brendan, Brendan, Bria, Brian, Brian, Briana, Briana, Brianna, Brianna, Brianny, Brianny, Bridget, Bridget, Briella, Brielle, Brielle, Brigitte, Britney, Britney, Brittany, Brittany, Brody, Brody, Brooke, Brooke, Brooklyn, Brooklyn, Brooks, Bruce, Bruce, Brucha, Brucha, Bruchy, Bruchy, Bruno, Bryan, Bryan, Bryanna, Bryanna, Bryant, Bryant, Bryce, Bryce, Brynn, Brynn, Bryson, Bryson, Burech, Byron, Byron, Caden, Caden, Caiden, Cairo, Caitlin, Caitlin, Caleb, Caleb, Cali, Callie, Calvin, Calvin, Camden, Cameron, Cameron, Camila, Camila, Camilla, Camilla, Camille, Camille, Camilo, Camilo, Camren, Camren, Carina, Carla, Carlos, Carlos, Carly, Carmelo, Carmelo, Carmen, Carmen, Carmine, Carmine, Carolina, Carolina, Caroline, Caroline, Carson, Carson, Carter, Carter, Casey, Cassandra, Cassandra, Cassidy, Cataleya, Catalina, Catalina, Catherine, Catherine, Cayden, Cayden, Cecelia, Cecilia, Cecilia, Celeste, Celeste, Celia, Celia, Celine, Cesar, Cesar, Chace, Chad, Chad, Chaim, Chaim, Chana, Chana, Chance, Chance, Chanel, Chanie, Chany, Chany, Charles, Charles, Charlie, Charlie, Charlotte, Charlotte, Chase, Chase, Chava, Chava, Chavy, Chavy, Chaya, Chaya, Chelsea, Chelsea, Cheskel, Cheskel, Chesky, Chesky, Cheyenne, Chiara, Chloe, Chloe, Chris, Chris, Christian, Christian, Christina, Christina, Christine, Christine, Christopher, Christopher, Christy, Cindy, Cindy, Claire, Claire, Clara, Clara, Clark, Claudia, Clementine, Cleo, Cody, Cody, Cole, Cole, Colette, Colette, Colin, Colin, Colton, Connie, Connie, Connor, Connor, Conor, Conor, Cooper, Cooper, Cora, Cora, Corey, Corey, Cormac, Cristian, Cristian, Cristina, Cristofer, Cristopher, Cristopher, Crosby, Crystal, Crystal, Cynthia, Cynthia, Cyrus, Cyrus, Dahlia, Dahlia, Daisy, Daisy, Dakota, Dakota, Daleyza, Dalia, Dalia, Dallas, Damani, Damari, Damaris, Damian, Damian, Damien, Damien, Damon, Dana, Dana, Daniel, Daniel, Daniela, Daniela, Daniella, Daniella, Danielle, Danielle, Danna, Danna, Danny, Danny, Dante, Dante, Daphne, Daphne, Dara, Daria, Dariel, Dariel, Darius, Darius, Darren, Darren, Darwin, Darwin, Dashiell, Dashiell, David, David, Dayana, Dayana, Dean, Dean, Deborah, Deborah, Declan, Declan, Delilah, Delilah, Demi, Denis, Denise, Denisse, Dennis, Dennis, Denzel, Denzel, Dereck, Dereck, Derek, Derek, Derick, Derick, Derrick, Derrick, Desmond, Destiny, Destiny, Devin, Devin, Devoiry, Devon, Devora, Devora, Devorah, Devorah, Devory, Diana, Diana, Diego, Diego, Dilan, Dillon, Dina, Dina, Dion, Dior, Diya, Diya, Diyora, Dominic, Dominic, Dominick, Dominick, Donovan, Donovan, Doris, Doris, Dov, Dov, Dovid, Dovid, Dream, Drew, Drew, Dua, Dulce, Dulce, Duvid, Dwayne, Dylan, Dylan, Ean, Eason, Eason, Eddie, Eddie, Eddy, Eddy, Eden, Eden, Edgar, Edgar, Edison, Edison, Edith, Eduardo, Eduardo, Edward, Edward, Edwin, Edwin, Efraim, Efraim, Egypt, Egypt, Eileen, Eileen, Eitan, Eitan, Elaine, Elaine, Elan, Elan, Eleanor, Eleanor, Elena, Elena, Eleni, Eli, Eli, Eliam, Elian, Elian, Eliana, Eliana, Elianna, Elianna, Elianny, Elianny, Elias, Elias, Eliel, Eliezer, Eliezer, Elijah, Elijah, Elimelech, Elimelech, Elina, Elina, Eliot, Elisa, Elisa, Elise, Elise, Elisheva, Elisheva, Eliyahu, Eliyahu, Eliza, Eliza, Elizabeth, Elizabeth, Ella, Ella, Elle, Elle, Elliana, Elliana, Ellie, Ellie, Elliot, Elliot, Elliott, Elliott, Ellis, Ellis, Elodie, Eloise, Eloise, Elsa, Elsa, Eluzer, Eluzer, Elvin, Elvis, Elvis, Elya, Emaan, Emani, Emanuel, Emanuel, Emely, Emely, Emerson, Emerson, Emery, Emil, Emilia, Emilia, Emiliano, Emiliano, Emilio, Emilio, Emily, Emily, Emir, Emma, Emma, Emmanuel, Emmanuel, Emmanuella, Emmeline, Emmett, Emmett, Emmy, Empress, Enrique, Enrique, Enzo, Ephraim, Ephraim, Eric, Eric, Erica, Erica, Erick, Erick, Erik, Erik, Erika, Erika, Erin, Erin, Ermias, Eshaal, Eshal, Eshan, Esme, Esme, Esmeralda, Esmeralda, Essence, Esteban, Esteban, Estelle, Estelle, Ester, Ester, Esther, Esther, Estrella, Esty, Esty, Ethan, Ethan, Etty, Etty, Eunice, Eva, Eva, Evan, Evan, Evangeline, Evangeline, Eve, Eve, Evelina, Evelyn, Evelyn, Everett, Everett, Everly, Evie, Eyad, Ezekiel, Ezekiel, Ezequiel, Ezequiel, Ezra, Ezra, Ezriel, Ezriel, Fabian, Fabian, Faiga, Faiga, Faigy, Faigy, Faith, Faith, Fanta, Fanta, Farah, Farhan, Farhan, Farida, Fatima, Fatima, Fatou, Fatou, Fatoumata, Fatoumata, Felipe, Felix, Felix, Fernanda, Fernanda, Fernando, Fernando, Feynman, Filip, Filip, Finley, Finley, Finn, Finn, Finnegan, Fiona, Fiona, Fishel, Florence, Fradel, Fradel, Frady, Frady, Fraidy, Fraidy, Frances, Frances, Francesca, Francesca, Francesco, Francesco, Francis, Francisco, Francisco, Frank, Frank, Franklin, Franklin, Freddy, Frederick, Frederick, Freida, Freya, Frida, Frieda, Frimet, Frimet, Gabriel, Gabriel, Gabriela, Gabriela, Gabriella, Gabriella, Gabrielle, Gabrielle, Gael, Gael, Gaia, Galilea, Gary, Gavin, Gavin, Gavriel, Gavriel, Gemma, Gemma, Genesis, Genesis, Genevieve, Genevieve, George, George, Georgia, Georgia, Georgina, Geraldine, Gerard, Gerardo, Gerardo, Gia, Gia, Giada, Giancarlo, Gianluca, Gianna, Gianna, Gianni, Gideon, Giovani, Giovani, Giovanna, Giovanna, Giovanni, Giovanni, Giovanny, Giovanny, Giselle, Giselle, Gittel, Gittel, Gitty, Gitty, Giulia, Giulia, Giuliana, Giuliana, Giuseppe, Golda, Golda, Goldie, Goldy, Goldy, Gordon, Gordon, Grace, Grace, Graham, Graham, Grant, Grant, Grayson, Grayson, Gregory, Gregory, Greta, Greta, Grey, Greyson, Greyson, Griffin, Griffin, Guadalupe, Guadalupe, Gustavo, Gustavo, Guy, Gwendolyn, Hadassa, Hadassah, Hadassah, Hadley, Hadley, Hafsa, Hafsa, Hailey, Hailey, Hailie, Haley, Haley, Hamza, Hamza, Hana, Hana, Haniya, Hanley, Hanna, Hanna, Hannah, Hannah, Hao, Hareem, Hareem, Harley, Harlow, Harmony, Harmony, Harper, Harper, Harrison, Harrison, Harry, Harry, Harvey, Harvey, Hashim, Hassan, Hassan, Hawa, Hawa, Hayden, Hayden, Haylee, Haylee, Hayley, Hazel, Hazel, Heaven, Heaven, Heavenly, Hector, Hector, Heidi, Heidi, Heidy, Heidy, Helen, Helen, Helena, Helena, Henchy, Hendy, Henny, Henny, Henry, Henry, Herman, Hersh, Hersh, Hershel, Hershel, Hershy, Hershy, Hillel, Hinda, Hinda, Hindy, Hindy, Holden, Hoorain, Hope, Hudson, Hudson, Hugo, Hugo, Hunter, Hunter, Ian, Ian, Ibrahim, Ibrahim, Ibrahima, Ibrahima, Ibrohim, Idris, Idy, Idy, Iker, Iker, Ilan, Ilan, Ilana, Ilana, Imani, Imani, Imogen, Imona, Imran, Inaaya, Inaya, Ines, Ines, Ingrid, Irene, Irene, Iris, Iris, Isaac, Isaac, Isabel, Isabel, Isabela, Isabela, Isabella, Isabella, Isabelle, Isabelle, Isaiah, Isaiah, Isaias, Ishaan, Ishaan, Ishmael, Isiah, Isiah, Isis, Isis, Isla, Isla, Ismael, Ismael, Ismail, Israel, Israel, Issac, Issac, Itzel, Itzel, Ivaan, Ivan, Ivan, Ivanna, Ivanna, Ivy, Ivy, Iymona, Izabella, Izabella, Izaiah, Jabari, Jace, Jace, Jack, Jack, Jackson, Jackson, Jacky, Jacky, Jacob, Jacob, Jacqueline, Jacqueline, Jad, Jad, Jada, Jada, Jade, Jade, Jaden, Jaden, Jadiel, Jadiel, Jael, Jael, Jaelyn, Jaelyn, Jaelynn, Jaheim, Jaheim, Jahir, Jahmir, Jahmir, Jaiden, Jaiden, Jaime, Jaime, Jair, Jake, Jake, Jakob, Jakub, Jalen, Jalen, Jaliyah, Jaliyah, Jamal, Jamal, Jamar, Jamari, Jamari, Jamel, Jamel, James, James, Jameson, Jamie, Jamie, Jamir, Jamir, Jana, Jana, Janae, Jane, Jane, Janelle, Janelle, Janice, Janice, Janiel, Janiya, Janiya, Janiyah, Janiyah, Jannat, Jannat, Jannatul, Januel, Januel, Jared, Jared, Jariel, Jariel, Jasiah, Jasiah, Jaslene, Jaslene, Jaslyn, Jasmin, Jasmin, Jasmina, Jasmine, Jasmine, Jason, Jason, Jasper, Jasper, Javier, Javier, Jax, Jaxon, Jaxon, Jaxson, Jay, Jay, Jayce, Jayce, Jayceon, Jaycob, Jayda, Jayda, Jayden, Jayden, Jayla, Jayla, Jaylah, Jaylah, Jaylee, Jayleen, Jayleen, Jaylen, Jaylen, Jaylene, Jaylene, Jaylin, Jaylin, Jaylyn, Jayren, Jayson, Jayson, Jaziel, Jazlyn, Jazlyn, Jazmin, Jazmin, Jazmine, Jazmine, Jazzlyn, Jean, Jean, Jeancarlos, Jefferson, Jefferson, Jeffrey, Jeffrey, Jelani, Jencarlos, Jenna, Jenna, Jennifer, Jennifer, Jenny, Jenny, Jeremiah, Jeremiah, Jeremias, Jeremias, Jeremy, Jeremy, Jermaine, Jerry, Jerry, Jesse, Jesse, Jessica, Jessica, Jessie, Jessie, Jesus, Jesus, Jewel, Jia, Jimena, Jimena, Jimmy, Jimmy, Joanna, Joanna, Joaquin, Joaquin, Jocelyn, Jocelyn, Joel, Joel, Johan, Johan, Johann, Johann, Johanna, Johanna, John, John, Johnathan, Johnny, Johnny, Jolie, Jolie, Jolin, Jonael, Jonah, Jonah, Jonas, Jonas, Jonathan, Jonathan, Jordan, Jordan, Jordi, Jordyn, Jordyn, Jorge, Jorge, Jose, Jose, Josef, Joselyn, Joselyn, Joseph, Joseph, Josephine, Josephine, Joshua, Joshua, Josiah, Josiah, Josie, Josue, Josue, Journee, Journey, Joy, Joy, Joyce, Joyce, Joziah, Juan, Juan, Judah, Judah, Jude, Jude, Judy, Judy, Julia, Julia, Julian, Julian, Juliana, Juliana, Julianna, Julianna, Julie, Julie, Julien, Julien, Juliet, Juliet, Juliette, Juliette, Julio, Julio, Julissa, Julissa, Julius, Julius, Jun, June, June, Junior, Junior, Juniper, Justice, Justice, Justin, Justin, Kabir, Kacper, Kaden, Kaden, Kadiatou, Kaelyn, Kai, Kai, Kaia, Kaiden, Kaiden, Kailani, Kailee, Kailey, Kailey, Kailyn, Kailyn, Kairo, Kaitlyn, Kaitlyn, Kalani, Kaleb, Kaleb, Kali, Kaliyah, Kaliyah, Kamari, Kamari, Kameron, Kameron, Kamila, Kamila, Kamiyah, Kamiyah, Kamren, Karas, Kareem, Kareem, Karen, Karen, Karina, Karina, Karla, Karla, Karter, Kassandra, Kate, Kate, Katelyn, Katelyn, Katelynn, Katelynn, Katerina, Katherine, Katherine, Kathryn, Katie, Katie, Kaya, Kayden, Kayden, Kayla, Kayla, Kaylani, Kaylee, Kaylee, Kayleen, Kayleen, Kayleigh, Kaylie, Kaylie, Kaylin, Kaylin, Kayson, Kazi, Kehlani, Keila, Keily, Keily, Keira, Keira, Keith, Kelly, Kelly, Kelsey, Kelsey, Kelvin, Kelvin, Kendra, Kendra, Kendrick, Kennedi, Kennedy, Kennedy, Kenneth, Kenneth, Kenny, Kenny, Kenya, Kenzie, Kenzo, Kevin, Kevin, Keyla, Keyla, Khadija, Khadijah, Khaleesi, Khalil, Khalil, Khari, Khloe, Khloe, Kian, Kiara, Kiara, Kiera, Kieran, Kieran, Kimberly, Kimberly, Kimi, Kimora, Kimora, King, King, Kingsley, Kingsley, Kingston, Kingston, Kira, Kira, Kiyan, Kori, Kourtney, Krish, Krish, Kristen, Kristian, Kristian, Kristina, Krystal, Kyla, Kyla, Kyle, Kyle, Kylee, Kylee, Kylie, Kylie, Kymani, Kymani, Kyree, Kyrie, Kyro, Kyson, Laia, Laila, Laila, Lailah, Laith, Lamar, Lana, Lana, Landon, Landon, Lara, Lara, Larry, Laura, Laura, Lauren, Lauren, Lauryn, Lawrence, Lawrence, Layan, Layla, Layla, Lazer, Lazer, Lea, Lea, Leah, Leah, Leandro, Leandro, Leanna, Leela, Leela, Legend, Leia, Leibish, Leila, Leila, Leilani, Leilani, Leilany, Lena, Lena, Lennox, Lenny, Lenny, Leo, Leo, Leon, Leon, Leona, Leonard, Leonardo, Leonardo, Leonel, Leonel, Leonidas, Leora, Leora, Lesley, Leslie, Leslie, Lesly, Lesly, Lev, Lev, Levi, Levi, Leyla, Leyla, Lia, Lia, Liah, Liam, Liam, Lian, Liana, Liana, Lianna, Liba, Liba, Libby, Libby, Lielle, Lila, Lila, Lilah, Lilah, Lilia, Lilian, Liliana, Liliana, Lillian, Lillian, Lilliana, Lilly, Lilly, Lily, Lily, Lina, Lina, Lincoln, Linda, Linda, Lindsay, Lindsay, Lionel, Liora, Lipa, Lipa, Lisa, Litzy, Litzy, Liv, Liv, Livia, Livia, Liyana, Liz, Lizbeth, Lizbeth, Lizeth, Logan, Logan, Lola, Lola, London, London, Londyn, Londyn, Lorenzo, Lorenzo, Louis, Louis, Louisa, Louisa, Louise, Luca, Luca, Lucas, Lucas, Lucia, Lucia, Lucian, Luciana, Lucien, Lucille, Lucy, Lucy, Luis, Luis, Luka, Luka, Lukas, Lukas, Luke, Luke, Luna, Luna, Luz, Luz, Lyanna, Lydia, Lydia, Lyla, Lyla, Lyric, Lyric, Mabel, Mackenzie, Mackenzie, Maddox, Madeleine, Madeleine, Madeline, Madeline, Madelyn, Madelyn, Madina, Madison, Madison, Madisyn, Mae, Mae, Maeve, Maeve, Magaly, Maggie, Maggie, Mahamadou, Mahamadou, Mahnoor, Maia, Maimouna, Maisie, Maison, Maite, Major, Makai, Makai, Makayla, Makayla, Makenzie, Makhi, Maksim, Malachi, Malachi, Malak, Malak, Malaysia, Malcolm, Malcolm, Malek, Malia, Malia, Maliha, Malik, Malik, Malika, Maliyah, Maliyah, Malka, Malka, Malky, Malky, Mamadou, Mamadou, Mandy, Mandy, Manha, Manha, Manuel, Manuel, Marc, Marc, Marcel, Marcelo, Marco, Marco, Marcos, Marcos, Marcus, Marcus, Margaret, Margaret, Margaux, Margot, Margot, Maria, Maria, Mariah, Mariah, Mariam, Mariam, Mariama, Mariama, Mariana, Mariana, Marie, Marielle, Marilyn, Marilyn, Marina, Marina, Mario, Mario, Marisol, Marjorie, Mark, Mark, Marley, Marlon, Marlon, Marlowe, Marquis, Martin, Martin, Marvin, Marvin, Mary, Mary, Maryam, Maryam, Mason, Mason, Massimo, Mateo, Mateo, Mathew, Mathew, Mathias, Mathias, Matias, Matias, Matilda, Matilda, Matteo, Matteo, Matthew, Matthew, Matthias, Maurice, Mauricio, Mauricio, Maverick, Max, Max, Maxim, Maxim, Maximilian, Maximilian, Maximiliano, Maximiliano, Maximo, Maximo, Maximus, Maximus, Maxwell, Maxwell, Maya, Maya, Mayar, Mayer, Mayer, Mayson, Mckenzie, Mckenzie, Mckenzie, Md, Mechel, Meera, Megan, Megan, Meghan, Meilech, Meilech, Meir, Meir, Meira, Mekhi, Mekhi, Melania, Melanie, Melanie, Melany, Melany, Melina, Melina, Melissa, Melissa, Melody, Melody, Melvin, Melvin, Menachem, Menachem, Menashe, Menashe, Mendel, Mendel, Mendy, Mendy, Menucha, Meshilem, Messiah, Messiah, Meyer, Meyer, Mia, Mia, Miah, Miah, Micaela, Micah, Micah, Michael, Michael, Michaela, Michaela, Michal, Michal, Michelle, Michelle, Miguel, Miguel, Mika, Mikael, Mikaela, Mikaela, Mikayla, Mikayla, Mike, Mike, Mila, Mila, Milagros, Milan, Milan, Milana, Milani, Milania, Milena, Milena, Miles, Miles, Miley, Miley, Millie, Milo, Milo, Mina, Mina, Mindy, Mindy, Mira, Miracle, Miracle, Miranda, Miranda, Mirel, Mirel, Miri, Miri, Miriam, Miriam, Misael, Miya, Mohamed, Mohamed, Mohammad, Mohammad, Mohammed, Mohammed, Moises, Moises, Moishe, Moishe, Moishy, Mollie, Molly, Molly, Monica, Monserrat, Montserrat, Mordche, Mordechai, Mordechai, Morgan, Morgan, Morris, Morris, Moses, Moses, Moshe, Moshe, Motty, Mouhamed, Moussa, Moussa, Muhammad, Muhammad, Muhammad Ali, Muntaha, Musa, Musa, Mushka, Muslima, Mustafa, Mustafa, Mya, Mya, Myles, Myles, Myra, Nabiha, Nachman, Nachman, Nadia, Nadia, Naftali, Naftali, Naftuli, Naftuli, Nahla, Nahla, Nailah, Nala, Nalani, Nana, Nancy, Naomi, Naomi, Nashla, Nashley, Nashly, Nasir, Nasir, Natalia, Natalia, Natalie, Natalie, Nataly, Natasha, Natasha, Nathalia, Nathalia, Nathalie, Nathalie, Nathaly, Nathaly, Nathan, Nathan, Nathanael, Nathanael, Nathaniel, Nathaniel, Nava, Nayeli, Nayeli, Nayla, Nazir, Nechama, Nechama, Nehemiah, Nehemiah, Neil, Neil, Nelson, Nelson, Nevaeh, Nevaeh, Neymar, Neymar, Nia, Nia, Niam, Nicholas, Nicholas, Nico, Nico, Nicolas, Nicolas, Nicole, Nicole, Nicolette, Nicolette, Nigel, Nikhil, Nikita, Nikita, Nikolai, Nikolas, Nikolas, Nina, Nina, Noa, Noa, Noach, Noah, Noah, Noam, Noam, Noel, Noel, Noelle, Noemi, Noemi, Nolan, Nolan, Noor, Noor, Nora, Nora, Norah, Nosson, Nosson, Nova, Nuchem, Nusrat, Nyah, Nyla, Nyla, Nylah, Nylah, Olive, Olive, Oliver, Oliver, Olivia, Olivia, Olympia, Omar, Omar, Omari, Omari, Ophelia, Oren, Ori, Orion, Orlando, Orly, Oscar, Oscar, Oskar, Otis, Otto, Oumar, Oumar, Oumou, Oumou, Ousmane, Ousmane, Owen, Owen, Pablo, Pablo, Paige, Paige, Paloma, Pamela, Paola, Paris, Paris, Parizoda, Parker, Parker, Patrick, Patrick, Paul, Paul, Paula, Paula, Payton, Pearl, Pearl, Pedro, Pedro, Penelope, Penelope, Perel, Perel, Peretz, Perl, Perl, Perla, Perla, Perry, Perry, Pessy, Pessy, Peter, Peter, Peyton, Peyton, Philip, Philip, Phoebe, Phoebe, Phoenix, Phoenix, Pierce, Pinchas, Pinchas, Pinchus, Pinchus, Piper, Piper, Polina, Poppy, Precious, Preston, Preston, Prince, Prince, Princess, Princess, Princeton, Priscilla, Queena, Queenie, Queenie, Quincy, Quincy, Quinn, Quinn, Rachel, Rachel, Rafael, Rafael, Rahaf, Raina, Raina, Raizel, Raizel, Raizy, Raizy, Ralph, Randy, Randy, Raphael, Raphael, Raquel, Raquel, Raul, Raul, Raya, Rayan, Rayan, Raymond, Raymond, Rayna, Rayyan, Rayyan, Reagan, Reagan, Rebecca, Rebecca, Reed, Reed, Reem, Reem, Reese, Reese, Rehan, Rehan, Reid, Reid, Reign, Reina, R

In [28]:
# whatever is in quotes to the left of .join() method, put that in between each element of list or series
# above is a series inside .join()
# below is a list inside .join()
' | '.join(['a', 'b', 'c'])

'a | b | c'

## to_csv( ) method